[2020-11-10 17:45] lzehl opened #1 "adding IRIs to the ontological terms"
@tgbugs: could you add the IRI to the corresponding ontological term for each term (JSON_LD) in v1.0-terminologies, or let me know where I can best check for them? The latter might be more convenient for you because the v1.0-terminologies will be extended step-by-step. Thanks in advance!

[2020-11-10 18:10] tgbugs commented on #1
What key should they go under? Related ontology seems like it would point to the whole pato ontology rather than the individual term, does it really mean relatedOntologyTerm, and if so should it be changed for clarity?

You can search scigraph here https://scicrunch.org/browse/terminology/male. I'd use the PATO terms for this.

[2020-11-10 18:16] lzehl commented on #1
@tgbugs thanks for your quick reply. If you think it adds more clarity we can change the property to "relatedOntologyTerm"  or "correspondingOntologyTerm" or "matchingOntologyTerm" or maybe even just "ontologyTerm" ? What do you think?

[2020-11-10 18:23] lzehl commented on #1
@tgbugs am I correct if I assume that I can infer which ontology you used from the identifier currently stored in the KG for all the ontological terms already in there?

[2020-11-10 18:44] tgbugs commented on #1
I think `ontologyTerm` or `ontologyIdentifier` would work. You can usually infer which ontology it came from but not always. For example UBERON and PATO terms you can, but for BIRNLEX you can't because there are multiple possible files that they are defined in.

[2020-11-10 19:55] lzehl commented on #1
I like the `ontologyIdentifier`. @UlrikeS91 this need to be also change in SANDS

[2020-11-11 10:11] lzehl opened #2 "criteriaType -> criteriaQualityType"

[2020-11-11 10:14] lzehl opened #3 "semanticRelation.schema.tpl.json is missing"

[2020-11-11 10:43] lzehl opened #4 "remove all empty strings properties ("") if they really are not available at the moment"
I've just add them for the moment to give full examples of a complete jsonld, but for the IRIs they would fail the validation.

[2020-11-11 18:29] lzehl commented on #2
done

[2020-11-11 18:29] #2 closed

[2020-11-11 18:29] lzehl commented on #4
done

[2020-11-11 18:29] #4 closed

[2020-11-11 18:32] lzehl commented on #3
done

[2020-11-16 16:44] #3 closed

[2020-11-18 10:17] lzehl opened #5 "can we merge confidence and citeriaQualityType?"
When I went over what instances we would actually register for confidence I realized that in principle it's exactly what we describe in with the citeriaQualityType instances:
- processive: "you can redo the process that let me to my result"
- asserted: "I say so"

I'm really not sure if I want to introduce other terms for confidence levels like "sure", "very sure", "maybe" etc.
I like the simplici

[2020-11-18 13:12] UlrikeS91 commented on #5
I'm not sure if I agree.

`confidence` is used in `anatomicalEntityRelation`, while `criteriaQualityType` is used in `annotation`. In `annotation`, this should describe the quality of the criteria used to produce the annotation. In `anatomicalEntityRelation`, we were aiming for a measure of how confident we are that the relation between entity-1 and entity-2 is correct.
A binary measurement might

[2020-11-18 14:25] lzehl commented on #5
I see it the following way:
- criteria is pointing to a protocolExecution meaning the method used to define / delineate the annotation
- the relation between to anatomicalEntities is (in principle) also defined by a protocolExecution meaning the method used to define the relation between the two terms (e.g. if I just say so or if I deliver some evidence for the location)

The conflict you describe

[2020-11-18 16:13] lzehl commented on #5
summary of the decision made in the openMINDS/SANDS weekly update meeting:

SANDS anatomicalEntityRelation
- delete confidence
- add criteria (optional, link to protocolExecution)
- add criteriaQualityType (required, controlledTerm)

SANDS annotation
- make visualizedIn optional

controlledTerms
- delete confidence

[2020-11-21 11:26] lzehl opened #6 "rename ProductAvailibility to ProductAccessibility"
for all (schemas and terms)

[2020-11-23 16:49] lzehl opened #7 ""disease" vs "pathology""
Should these terms be merged or should we keep them separate?

disease definition "a disorder of structure or function in a human, animal, or plant, especially one that produces specific symptoms or that affects a specific location and is not simply a direct result of physical injury."
-> "all" diseases as controlledTerms

pathology definition "the structural and functional deviation from the norm

[2020-11-23 16:55] lzehl opened #8 ""OrganOfOrigin" should be renamed to just "Organ" or "AnatomicalOrgan""
@tgbugs does this make sense?

[2020-11-23 17:19] lzehl opened #9 "defining contributionTypes"
**Summary of contributorType vs contributionType:**

| contributorType (DataCite) | contributionType | comments |
|:----|:----|:----|
|  ContactPerson | correspondence |  |
|  DataCollector | collecting data |  |
|  DataCurator | curating data | would we expect local curators here, or the responsible EBRAINS curator ? |
|  DataManager | managing data |  |
|  Distributor | distributing | not sure i

[2020-11-25 15:51] olinux opened #11 "StudyTargetType should be changed to "Terminology" type instead"
https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/817a76151134945158905ee1b71f409875a43d24/v1.0/terminology.schema.tpl.json#L3

[2020-12-11 17:05] olinux opened #14 "Unused types"
The types
https://openminds.ebrains.eu/controlledTerms/SoftwareFeatureCategory
and
https://openminds.ebrains.eu/controlledTerms/StudyTargetType
seem to be unused by both core and SANDS. Maybe they should be removed?

[2020-12-14 08:47] olinux opened #15 "rename wild_type into wildType"
To be consistent, we should follow the lowerCamelCase syntax for everything in JSON(-LD).

https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/2400e43e873fbfadd9f776fa69bc541a86144c8a/terminologies/phenotype/wild_type.jsonld#L2

[2020-12-15 03:52] FPa-riken opened #16 "typo in productAccessibility schema template"
Missing initial capital in `_type`  value  => **P**roductAccessibility in [productAccessibility.schema.tpl.json](https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/v1/schemas/productAccessibility.schema.tpl.json)

[2020-12-15 04:26] FPa-riken commented on #16
duplicate of https://github.com/HumanBrainProject/openMINDS_controlledTerms/pull/13

[2020-12-15 04:26] #16 closed, assigned to nobody

[2020-12-15 07:00] olinux commented on #14
Comment for StudyTargetType: This is linked to the issue #11 and should be solved after accepting pull request #17

[2021-01-18 16:39] lzehl commented on #15
@olinux : I agree!

@UlrikeS91 : do you agree as well? why was it changed to "wild_type"?

[2021-01-18 16:41] lzehl commented on #14
@olinux thanks for reporting this. If they are unused intentionally we should remove them. I'll double check if it is not a spelling issue or if they were planned and then forgotten. But I think it was just missed to delete them after the last metadata model changes.

[2021-01-18 16:42] lzehl commented on #11
@olinux yes, I think you are right.

[2021-01-19 10:14] UlrikeS91 commented on #15
Hmm, good question. I think the logic I followed was that the name is "wild type", so the jsonld should indicate the space. Not sure, why this was the most logical conclusion anymore...

Feel free to change it to `wildType`!

[2021-02-22 14:49] lzehl opened #23 "delete SoftwareFeatureCategory (is depricated)"
SoftwareFeatureCategory should be deleted because it was replaced by SoftwareFeature

[2021-02-24 13:47] olinux commented on #15
fixed

[2021-02-24 13:47] #15 closed, assigned to nobody

[2021-02-26 13:23] #11 closed

[2021-02-26 17:36] lzehl commented on #14
This issue was solved in #25

[2021-02-26 17:36] #14 closed, assigned to lzehl

[2021-02-26 17:36] lzehl commented on #23
This issue was solved in #25

[2021-02-26 17:36] #23 closed, assigned to nobody

[2021-02-26 17:38] lzehl commented on #8
for now this was renamed to "Organ" I'll close this issue now

[2021-02-26 17:38] #8 closed

[2021-02-26 17:40] lzehl commented on #7
@UlrikeS91 & @tgbugs could this still be of interest (e.g. as separated properties for specimen?) or should we close it for now?

[2021-02-26 17:42] lzehl commented on #6
this was done. I'll close this issue now.

[2021-02-26 17:42] #6 closed

[2021-02-26 17:43] lzehl commented on #5
This issue was solved in PR103 on openMINDS_SANDS. I'll close it now

[2021-02-26 17:43] #5 closed

[2021-02-26 17:44] lzehl commented on #1
this issue was solved. I'll close it now.

[2021-02-26 17:44] #1 closed

[2021-03-01 12:38] UlrikeS91 commented on #7
@lzehl, I think this can be closed. We discussed it back then and concluded that it is enough to have "disease" (+ "diseaseModel"). We removed "pathology" as a controlledTerm/terminology but renamed the property to "pathology".
If I remember correctly, the idea was:
Pathology = healty --> leave blank (and/or specify under "additionalRemarks")
Pathology = diseased --> choose disease (model)
Patholo

[2021-03-01 14:23] lzehl commented on #7
Yeah. Let's discuss this at a later time again.

[2021-03-01 14:23] #7 closed

[2021-03-04 12:44] UlrikeS91 opened #32 "datasetType terminology update"
Change to:
- rawData
- derivedData
- experimentalData
- simulatedData
- GDPRSensitiveData

Idea is to combine the different term to describe the content of the dataset. For example, human non-aggregated data would need the terms `derivedData` + `experimentalData` + `GDPRSensitiveData`.

[2021-03-23 18:24] tgbugs opened #35 "Add ontology identifiers for modalties."
Modalities have InterLex ids
https://github.com/HumanBrainProject/openMINDS_controlledTerms/tree/v1/terminologies/modality
are in https://github.com/SciCrunch/NIF-Ontology/blob/master/ttl/generated/modality-ILX-mapping.ttl and
https://github.com/SciCrunch/NIF-Ontology/blob/methods/ttl/modality.ttl.

[2021-03-23 18:30] UlrikeS91 opened #36 "Change "modality" to "approach"?"
Based on a discussion with @lzehl and @tgbugs, we would like to rename modalities to approach because it is more descriptive for what it actually is.

@lzehl, anything to add?

[2021-03-23 18:36] UlrikeS91 commented on #35
Thanks, @tgbugs. I'll add them tomorrow.

[2021-03-23 19:00] lzehl commented on #36
@UlrikeS91 I think that's very much it. @apdavison what do you think about this change?

[2021-03-24 07:29] lzehl opened #37 "Change "datasetType" to "semanticDataType""
based on the ontology discussion with @tgbugs we agreed to rename this controlled term and kick-out the GDPR sensitivity part.

@UlrikeS91 I think we could put the GDPR into the EthicsAssessment. You made that suggestion yesterday and I think you are right. It actually fits in there. We could change entries there to: ("not applicable", "EU compliant, sensitive", "EU compliant, non sensitive") or (

[2021-03-24 09:00] UlrikeS91 commented on #37
Agreed. I like these best: "not applicable", "EU compliant, sensitive", "EU compliant, non sensitive"

The other options are a bit inconsistent: "GDPR sensitive" should have (something like) "not GDPR sensitive" as opposite. I would argue that if GDPR is irrelevant enough to leave it out for "non sensitive", then it doesn't really need to be included for "sensitive" either.

[2021-03-24 09:39] lzehl opened #38 "moving all items in "terminologies" to openMINDS_instances"
As discussed and agreed, we'll move all controlled instances of openMINDS to one GitHub repository: openMINDS_instances.
This is a clearer separation between openMINDS repos that contain metadata models vs other openMINDS repos.

[2021-03-24 09:49] lzehl commented on #38
solved in commit (https://github.com/HumanBrainProject/openMINDS_controlledTerms/commit/4050d13e606d4a3ae97d9248011604a7d708e3f7)

[2021-03-24 09:49] #38 closed, assigned to lzehl

[2021-03-24 09:56] lzehl commented on #37
@UlrikeS91 thanks for the quick response! I'll update the terminologies then which are now located in https://github.com/HumanBrainProject/openMINDS_instances/tree/master/instances

I'll also change the schema names here and adapt the corresponding reference point in openMINDS_core.

[2021-03-24 10:07] lzehl commented on #37
solved in commit (https://github.com/HumanBrainProject/openMINDS_controlledTerms/commit/14428ce632a12b1a374227f0838f35fd364f8743) and commit (https://github.com/HumanBrainProject/openMINDS_core/commit/2293c2975ad50a015006e00855a734e7c86a5eca)

[2021-03-24 10:07] #37 closed, assigned to lzehl

[2021-03-24 10:07] lzehl commented on #37
instances update will follow

[2021-03-24 10:17] lzehl commented on #37
small note: we chose "not required" in the past, which I left now and did not change to "not applicable"

[2021-03-24 10:17] lzehl commented on #37
instances are done as well

[2021-03-24 10:18] lzehl commented on #32
this one was solve with #33 and changes related to #37

[2021-03-24 10:18] #32 closed, assigned to UlrikeS91

[2021-03-24 10:49] lzehl opened #39 "splitting up digitalIdentifiers into distinct types"
I discussed again with @olinux :
For convenience / lowering mistakes / mainenance in using the right / typical digital identifier (and digital identifier schema) for a corresponding instance (e.g., a person, a dataset, a model, etc) it is better to split up the DigitalIdentifier Schema into distinct types (e.g., DOI, ORCID). This would make the need for a DigitalIdentifierSchema obsolete.

The cur

[2021-03-24 11:13] UlrikeS91 commented on #39
I don't have any objections.

Just a question:
With this change, how would I refer to a file in the repository of a dataset, e.g. to have the data descriptor under "fullDocumentation"? I know we have talked about this before, but maybe we could add another digitalIdentifier schema directly to make this easier? We will need this for nearly every dataset. Alternatively, you also allowed to start the

[2021-03-24 11:43] lzehl commented on #39
@UlrikeS91 that I've also discussed with @olinux short answer:
- digital identifiers should be official ones
- full documentation needs to get two options for linkedTypes: the DOI (at least) and the File (I think I forgot this one in the core PR ...)

[2021-03-24 13:13] apdavison commented on #36
I have no strong opinions either way.

[2021-05-04 15:44] lzehl commented on #39
solved in current version

[2021-05-04 15:44] #39 closed, assigned to lzehl

[2021-05-04 15:44] lzehl commented on #36
solved in current version

[2021-05-04 15:44] #36 closed, assigned to nobody

[2021-06-15 17:18] UlrikeS91 opened #44 "Add new property to all controlledTerms to link to KnowledgeSpace"
Decided on during an external discussion with @tgbugs, Mathew (don't know his GitHub) and @lzehl: We will make some major changes to the controlledTerms schemas.
**1. Change "OntologyIdentifier" to "PreferredOntologyIdentifier".** The preferred ID (as stated on InterLex) will be used here.
**2. Add a new property called "InterlexIdentifier".** This will also be an ontology ID, but specifically onl

[2021-06-16 09:09] lzehl commented on #44
@UlrikeS91 we should maybe include "synonym" as new property in this PR as well. In most cases we can get them from the ontologies (if available) and in other cases it might just hold useful abbreviations (e.g., for units). Or should we be explicit for the abbreviation for units ? @tgbugs & @olinux what is your opinion here?

[2021-06-16 09:34] olinux commented on #44
hm, to be honest, I'm hesitating a little to have these hard-coded "natures" of identifiers in the property name... it seems like it makes it hard to be reused for others (that are not using interlex / knowledge space / ...
wouldn't it be better to just have "additionalIdentifiers" which are having typed entries (as we have it for DOI / SWHID / ...)?

[2021-06-16 11:00] lzehl commented on #44
They are different in nature (specific ontology ID, wiki entry with integrated ontologies, interlex with integrated ontologies) so running them under additionalIdentifier might be not correct. But I'm open to making this more generic (as long as for EBRAINS we could emphasize the interlex and KS link on a simple landing page for the controlled instances?).

[2021-06-16 11:01] lzehl commented on #44
@tgbugs you have ideas?

[2021-06-16 15:43] tgbugs commented on #44
We could make it more generic, but I think we were imagining a fairly direct mapping to landing pages for controlled terms. Additional links would work, but I think you will want a link type or something of that nature so that you can pull out specific identifiers without having to parse the url. So it would become an additional links field and then you would have an enum of types e.g. `["uberon",

[2021-08-04 15:11] #35 closed, assigned to UlrikeS91

[2021-08-04 15:11] #44 closed, assigned to lzehl

[2021-08-04 15:19] lzehl opened #46 "revising software features"
@bweyers & @jagru20

I've realized that a number of data types are listed under software features (SoftwareFeature schema + instances).
For example:
+ 3DGeometryDataTypes
+ 3DVectorDataTypes
+ timeSeriesDataTypes
etc.

Could we separate those as actual data types (DataTypes schema + instances)?
These are not really a feature, correct? But rather the overall class of data types the software can han

[2021-08-05 11:19] lzehl opened #47 "new technique requests"
@tgbugs : we would like to add the following instances. Would you agree?
 (some of them might only not exist in our list, but you have them already)

"NEW" TECHNIQUES SUGGESTIONS:

1. **calcium imaging**
2. **fiber photometry**
3. **pupillometry**
4. **electrooculography**
5. **video-oculography**
6. **eye-attached tracking**
7. **ultrasound imaging**
8. **virus transfection** OR **virus-mediated

[2021-08-06 12:42] UlrikeS91 commented on #47
Note: 4. electrooculography already exists as a controlledTerm/technique

Continuation of @lzehl's list:

15. 3D computer graphic modeling
16. 3D scanning
17. beta-galactosidase staining
18. connectivity based parcellation technique
19. drifting grating visual stimulation
20. electromyography
21. figure-ground visual stimulation
22. headpost implantation surgery
23. high-speed video recording
24.

[2021-08-08 00:47] tgbugs commented on #47
A bunch of these are already in the ontology, will need to do a more thorough check (this format is not easy to review).

[2021-08-24 10:49] UlrikeS91 commented on #47
I'll close this issue for now. We have added (I think) all of them for now (https://github.com/HumanBrainProject/openMINDS_controlledTerms/pull/48) but can be changed later on if necessary.

[2021-08-24 10:49] #47 closed, assigned to nobody

[2021-08-24 10:52] UlrikeS91 commented on #46
@bweyers and @jagru20 Would you be able to provide some feedback to @lzehl issue?

(PS: @lzehl, raising issues during vacation time is usually a bad idea 😆🙈)

[2021-08-24 10:56] UlrikeS91 commented on #9
Maybe the author contribution list from PLOS ONE could be useful in relation to this (https://journals.plos.org/plosone/s/authorship#loc-author-contributions)?

<html>
<body>

Contributor Role | Role Definition
-- | --
Conceptualization | Ideas; formulation or evolution of overarching research goals and aims.
Data Curation | Management activities to annotate (produce metadata), scrub data and main

[2021-08-24 12:59] lzehl commented on #9
@UlrikeS91 thanks. I'll see that we add some from this list

[2021-08-24 13:33] jcolomb commented on #9
The plosone list is identical to CREDIT (http://credit.niso.org/), which is included in CRO (CRO is supposed to be an extension of CREDIT).

Note that CREDIT was developed for papers (life science papers to be more specific), datacite schema is meant for dataset, while software may have a different kind of nomenclature (see https://allcontributors.org/).

My take would be to try to use CRO, adding

[2021-08-24 13:44] UlrikeS91 commented on #9
Thank you! This is very useful and we will use CRO. We may use other names here and there, but since our controlledTerms instances can have synonyms and links to ontologies, the CRO ID will always be attached to it and the CRO name added as synonym in case we want to use another one.

[2021-08-31 08:23] jagru20 commented on #46
We have discussed this in a video call and came to the followingː
For now, the data types remain under software feature. Additionally, the contenttype schema gets added an optional property "dataTypes" which can hold one or more of these datatypes. This enables filtering for software or datasets that contain/handle datatypes on a more general level instead of searching for a specific contenttype.

[2021-09-07 17:36] lzehl opened #55 "reassessing / extending TissueSampleType instances"
list from @tgbugs on sample_types:
1. 'whole organism' (this we don't need, because this is a subject in our case)
2. 'whole organ' (is already in instances)
3. 'fluid specimen' (suggestion: integrate as "body fluid" ? )
4. 'tissue' (not sure what is meant here; we would need somthing like "tissue block"; cf. discussion below)
5. 'nerve' (could be integrated as is)
6. 'slice'  (is already integrat

[2021-10-27 12:52] UlrikeS91 opened #57 "Reconsidering age category instances"
See thread:
https://github.com/obophenotype/uberon/issues/577

[2021-10-28 07:21] UlrikeS91 opened #58 "Reconsidering strains"
Trying to use and populate the controlled terms for strains has been a challenge. Based on feedback/concerns from e.g. @Majpuc and following a discussion between @lzehl and me, we are lining strongly towards removing the strains from the controlled terms and instead make them a schema in the core repository (potentially with controlled instances that follow that schema).

I worked on a rough first

[2021-10-28 09:04] lzehl commented on #58
@UlrikeS91 & @Majpuc thanks for this issue. Here my feedback:

+ I think "species" should not be part of this schema since this schema will not stand alone but always be connected to a subject which has already a species attached. We can also keep it, but that would mean another graph validation point.
+ "background" why not "breedingBackground" ? (only background I found confusing)
+ "geneticBack

[2021-10-28 09:06] lzehl commented on #58
one thing: we could change "preferredOntologyIdentifier" to just "ontologyIdentifier" and allow multiple entries

[2021-10-28 09:15] UlrikeS91 commented on #58
I'll see what Maja says, but I think you are right.

Yeah, like I said in the comment, I was pretty sure that this is a bad name for it :D I'll see if Maja has a better suggestio but "breedingBackground" would already improve it, I think.

Same as above.

If we were to keep "phenotype" as a controlledTerm schema and property for specimen (called "phenotype"), we would need to remain consistent abo

[2021-10-28 10:26] lzehl commented on #58
I guess if we just ask for "ontologyIdentifier" we should always allow multiple and only when we ask for "preferredOntologyIdentifier" we ask for 1

For phenotype: is there any reason to keep the property on the subject if that is covered in the strain schema? or differently asked: is the phenotype something independent of a strain definition? then it should be kept on the subject and removed from

[2021-10-28 12:48] UlrikeS91 commented on #58
Following a very frutiful meeting with @Majpuc and the feedback/suggestions in this thread, I adjusted the draft:

### Strain
 Property | Count | Expected value | Notes/Thoughts/Comments
--------- | ------- | ----------------- | -------------------------------
Name | 1 – 1 | free text | unchanged
Synonyms | 0 – N | free text | unchanged
Description | 0 – 1 | free text | unchanged
Identifier | 0 –

[2021-10-28 15:43] UlrikeS91 commented on #58
We now landed on the following:
### Strain
 Property | Count | Expected value | controlledTerms examples
--------- | ------- | ----------------- | -------------------------------
name | 1 – 1 | free text |
synonym | 0 – N | free text |
description | 0 – 1 | free text |
identifier | 0 – N | free text | (expects e.g.  MGI, MGD, RGD)
RRID | 0 – 1 | core/RRID |
ontologyIdentifier | 0 – N | IRI |
backg

[2021-10-29 10:32] apdavison commented on #58
sorry to chime in rather late, but I would like to argue for restoring "species" as a required field. When building interfaces, it would be nice to use this schema to present a list of strain choices to the user. To narrow down the list of strains we need to be able to filter by species.

[2021-10-29 10:41] UlrikeS91 commented on #58
No worries and it's not too late yet ;)

We kicked it out because specimen have properties for species and strain. If the strain includes a species as well, we introduce yet another graph validation point.
But since species is a required field for specimen, it means that every specimen that has a strain also has to have a species. So, it would be possible to narrow down the list of strains based o

[2021-10-29 11:13] apdavison commented on #58
I understood the reasoning. I don't understand how big a problem it is to have another graph validation point.

These schemas will be used independently of Specimen, for example in the case of models, or in building user interfaces.

[2021-10-29 11:38] lzehl commented on #58
@apdavison & @UlrikeS91 I think Andrew raises a valid point if a strain with a specific stock number be used by two different labs (@UlrikeS91 or @Majpuc is this true?). And we have enough graph validation points that we anyway have to deal with at one point. So from my side, feel free to reintroduce "species"

[2021-10-29 11:43] Majpuc commented on #58
Hi, yes it is thinkable that several labs can use the same strain from one specific vendor and thereby having the same stock number. I must admit I don't fully grasp the implications of reintroducing "species" or not and leave that to you to decide.

[2021-10-29 11:48] UlrikeS91 commented on #58
Yes, very much possible and for wildtype strain I would even call it more likely than the other way around.

Edit: I don't see why this is relevant though because strain is not an embedded type for specimen(sets), so it could be "recycled" for several specimen(sets) anyway. Only validation point already existing this way, would be if dataset A has a subject with mus musculus as spieces and links C

[2021-10-29 12:02] lzehl commented on #58
and how would you call the corresponding property?

[2021-10-29 12:05] lzehl commented on #58
I would just have it twice then, on specimen(set) and on strain. It makes respective queries easier (query for strains only by species, query for subjects by species). And the plan is that we introduce a graph validation

[2021-10-29 12:13] UlrikeS91 commented on #58
Found this online: "[...] strain is a sub-type of a genetic variant of biological species."

So, sticking to "species" as a property name could work

[2021-10-29 12:34] lzehl commented on #58
@olinux  and  @apdavison what do you think about @UlrikeS91 suggestion?

[2021-10-29 13:47] apdavison commented on #58
I like it. The disadvantage is that it makes it a bit more complex to retrieve the species from a specimen, since you have to handle both possibilities (specimen->species and specimen->strain->species). The advantage is that it avoids the redundancy (and source of possible conflicts) of having the species in two places in the graph.

On balance I think the advantages outweigh the disadvantages.

[2021-11-01 06:40] UlrikeS91 commented on #58
Thank you, @apdavison.

@olinux, do you have an arguments that would tip the scale to the other side?

[2021-11-01 12:14] olinux commented on #58
It sounds to me as if it would be similar to other concepts already existing in the graph where multiple paths have to be aggregated to arrive at the full truth. I guess from a model perspective it makes sense and I do agree with @apdavison that the advantage of not introducing/materializing potentially conflicting redundancies is preferable. We can think about the resolution to be a "consumer" is

[2021-11-01 15:10] UlrikeS91 commented on #58
Thanks @olinux for the feedback. It seems like everybody is leaning towards adjusting "species" for specimen(sets) to allow both core/strain and/or controlledTerm/species. So, I will update the schemas accordingly.

I also started testing the schema on some use cases and ran into some problems.

The "geneticStrainType" can be used to indicate where a strain is e.g. a "wildtype", "knock-out", "knoc

[2021-11-02 11:42] lzehl commented on #58
To summarize our offline discussion @UlrikeS91 :

+ property "species" in Subject(Group) & TissueSample(Collection) will have "_linkedTypes" to controlledTerms/Species & core/Strain
+ property "geneticStrainType" will have a controlledTerm list that differentiates between "knockout" / "knockin" (non-conditional) and "conditional knockout" / "conditional knockin" (for just defining the overall stra

[2021-11-02 12:02] MaaikevS opened #62 "Suggestions"
Hi!

Based on the datasets that I have been working with, I would like to suggest that the following few things may need to be added. If they are already covered by an existing term, please let me know.

1. electroporation as technique
2. stereology as experimental approach
3. volume fraction estimation as technique (or I need to add a different technique and put this in a protocol/execution)
4. i

[2021-11-02 16:45] tgbugs commented on #58
@lydiang any thoughts on this relative to the NWB genotype schema?

[2021-11-02 17:12] UlrikeS91 commented on #62
discussed in an offline meeting with @tgbugs & @lzehl:

1. electroporation will be added as a technique (interlex: https://scicrunch.org/scicrunch/interlex/view/ilx_0739748)
2. "cell population characterization" covers a little portion of it, but will be added as a technique (interlex: https://scicrunch.org/scicrunch/interlex/view/ilx_0739729)
3. if related to this dataset: https://search.kg.ebrai

[2021-11-03 07:06] #57 closed, assigned to nobody

[2021-11-03 07:35] UlrikeS91 commented on #55
Sorry, this slipped through somehow...

Let's see:

agreed

Body fluid is a fluid specimen but not every fluid specimen is body fluid. No objections to adding body fluid, though, just not ok with it if you think they mean the same thing. Maybe we add body fluid and see if this will suffices for now (and if not we can come back to fluid specimen)?

If I remember correct, we don't need that because

[2021-11-03 09:14] MaaikevS commented on #62
Thank you!

[2021-11-03 23:12] eapapp opened #64 "Stimulation approach / Stimulus type: add visual"
Hello Lyuba and Ulrike,

I'm in the process of migrating a [dataset](https://editor.kg.ebrains.eu/instances/2077efac-09f6-47c1-aabe-632e08ed148b) in which visual stimuli have been applied, but the KGE only lists auditory stimulation and direct current as possible options for Stimulation approach / Stimulus type. Could you please add visual stimulation? For stimulus type, the authors describe "visu

[2021-11-04 07:31] UlrikeS91 commented on #64
Thanks for the request @eapapp! As you see from the draft PR, the stimulationApproach will be added.

The stimulusType is a bit more difficult. I had a look at the paper you linked. Here a short summary to save others time:

Rats were trained to perform a two-choice visual discrimination task on a figure-8 maze (an elevated platform that is shaped like an 8). At one end of that maze are two screen

[2021-11-04 08:18] lzehl commented on #64
@UlrikeS91 thanks for responding so quickly. @eapapp thanks for raising the issue :)

@eapapp you should not be able to select any Stimulation Approach / Stimulus Type at the moment in the KGE because they are not connected to any v4 schema. @UlrikeS91 this is a bug we have to fix.

For StimulationApproach things are clear I think. And for now I would suggest to also purely stick to those.

For St

[2021-11-04 08:53] UlrikeS91 commented on #64
@eapapp, ignore this comment. There was a confusion and we resolved this offline. The schema, of course, exists and you should get controlled terms added for the stimulusType.

It's white on black background.

I'm not sure if we really want to be that specific. I would prefer higher-level terms that can actually be reused for several (behavioral)Protocols. And I truly doubt that many studies use s

[2021-11-04 09:35] lzehl commented on #64
@UlrikeS91 thanks for keeping in eye on things if I'm getting confused :sweat_smile:

For the StimulusType: if we keep it high level if defeats a bit the purpose of listing all used stimuli I think... I wonder though if we should do it anyway highlevel and rather add a free text description field for the stimulation schema. Example for @eapapp case:

1) diamond stimulation:
  + stimulation approac

[2021-11-04 10:12] apdavison commented on #64
for information, @Peyman-N is working on a "stimulation" extension for openMINDS, so I would support keeping the related controlled terms fairly general; where further details are needed, the curators should make use of the extension.

[2021-11-04 10:17] lzehl commented on #64
The parts we currently have in were introduced in discussion with @Peyman-N. So the upper part should not collide, unless @Peyman-N did not use these part to build up the extension? @Peyman-N would that fit? I assumed the stimulation extension would go much more into detail with required parameters for each stimulation approach (e.g. duration, strength, etc)

[2021-11-04 14:15] UlrikeS91 commented on #64
Based on this, we will keep the StimulusTypes rather high-level and added a description field (and a lookupLabel) to the stimulation schema to give users the option to specify more details about the stimulation.

The PRs are made and ready for review. As soon as those are integrated and @olinux has retiggered the KG to ingest the new terms/schema change,@eapapp you could do the following in your s

[2021-11-04 15:22] lzehl commented on #64
@UlrikeS91 looks good from my side. @apdavison / @Peyman-N I guess this level leaves a lot of in-depth parts open, correct? @eapapp does this fit your needs a bit better as well?

[2021-11-04 19:08] eapapp commented on #64
Thank you for all the work put into this @lzehl & @UlrikeS91. Good to have the stimulations soon in place. Based on the dataset keywords in the KG v2, I would organize this into two behavioral protocols: "Visual discrimination task" with stimuli 1-2. from above, and "Spatial navigation task" with stimuli 3-4. (tactile stimulation is not visual in my understanding).

By the way, what is the differe

[2021-11-04 20:19] UlrikeS91 commented on #64
That's a remnant and deprecated. It was what we had before the behaviouralProtocol but as a simple controlled term which caused problems.
It's kept in the system because some datasets have used it in between and we don't want to lose the information before it has been transferred :)

[2021-11-05 08:52] #62 closed, assigned to tgbugs, lzehl

[2021-11-08 13:26] MaaikevS opened #70 "Reassessing techniques"
Hi,

There are a few controlled terms for techniques that I think need to be reassessed and perhaps 'cleaned up'.

**1) Fixation / perfusion**
Currently there are a number of techniques that only differ slightly in my opinion.
- fixation technique
- tissue fixation technique
- perfusion fixation technique
- intracardial perfusion technique
- perfusion technique

I would reduce this to "fixation te

[2021-11-08 13:48] lzehl commented on #70
@MaaikevS thank you for creating this issue. Here my assessment:

**for 1)** I agree. I think a reduction to "fixation technique" and "perfusion technique" is wise and would avoid inconsistencies.  @tgbugs & @UlrikeS91 what do you think?

**For 2 - 4:** these seem to be EBRAINS KG issues. @olinux there seems to be an issue with deprecated instances. Could you have look why deprecated instances are

[2021-11-09 08:04] UlrikeS91 commented on #70
I would disagree to some extend. It is true that the most common use case for use will be an intracardial perfusion (fixation) technique, where an organism is perfused first with saline and then with a fixative via the heart. But from a semantic perspective, neither "perfusion" nor "fixation" on their own express this. There is much more to it.

perfusion (medical definition): the act of pouring a

[2021-11-09 08:25] lzehl commented on #70
@UlrikeS91 thanks for your feedback.

to your 1) lets only keep "fixation technique"; what is fixated can be specified in the protocol
to your 2) I see your point. Lets keep both then but we should add definitions for these cases so that people are aware of the difference.
to your 3) I would argue for only keeping "perfusion fixation technique" and describe how the perfusion was done in the protoc

[2021-11-09 10:55] UlrikeS91 opened #72 "Biological Sex - add something like "unknown""
Since "biologicalSex" is a required property for subject(Group)s and tissueSample(Collection)s, I was wondering if we could introduce something along the lines of "unknown".

I know that we did not want to leave this as an option because it should be known, but there are still cases where this information maybe cannot be provided.

My bigger concern is for the cases where the sex in fact cannot be

[2021-11-09 18:08] lzehl commented on #72
@UlrikeS91 thanks for bringing this up. I already expected that this will bite us :)

I still do not want to have "unknown" in as in "I do not know". I think we should not support this actively. Therefore I would go with solution one PLUS:
"not possible to determine yet" is another issue which we could cover in addition for biologicalSex.
I would go for this with the term "not detectable yet".

[2021-11-09 18:10] lzehl commented on #72
If we introduce "unknown" we need to do that for basically all fields to distinguish between "not filled yet" and "will never be filled" which I do not want to do via adding "unknown" to all terminologies... If we want to tackle this, we should do this in a smarter more generalized way. @olinux any idea? (not an urgent issue)

[2021-11-10 09:51] lzehl commented on #55
What we need to do:

    'biopsy sample' (keep, no action)
    'brain hemisphere' (rename to 'organ hemisphere'?)
    'cell culture' (rename to 'cell line' ?)
    'tissue slice' (keep, no action)
    'whole organ' (keep, no action)
    'fluid specimen' (add)
    'single cell' (add)
    'cell population' (add ? does this collide with 'cell line'?)
    'tissue block' (add)

I wonder if we leave out

[2021-11-10 10:44] UlrikeS91 commented on #55
@lzehl suggestion | my comment
-------------------- | ----------------
'biopsy sample' (keep, no action) | yes
'brain hemisphere' (rename to 'organ hemisphere'?) | yes, rename; just to make sure: a part of an organ (less than a hemisphere/part from an organ that is not bilateral) would fall under "biopsy sample", right?
'cell culture' (rename to 'cell line' ?) | yes, culture was bad for some reaso

[2021-11-10 11:35] lzehl commented on #55
for "hemisphere" only works for bilateral organs; parts of not bilateral organs could be "biobsy sample" or "tissue block"

for "cell population" vs "cell line": exactly a cell line is a population of a specific cell type, while a cell population could be also consist of various cell types... I wonder if we should name the terms: "cell population - defined" (for cell lines) and "cell population -

[2021-11-10 12:46] UlrikeS91 commented on #55
Yes, that's what I thought/hoped would be the answer ☺️

I like the direction of this suggestion but not the terms...How about:
1. "cell population of one (cell) type" & "cell population of several (cell) types"
2. "homogeneous cell population" & "heterogeneous cell population"
(PS: Don't like either of these suggestions 100% but maybe they spark an idea 😉)

Okay. That sounds like a good plan to m

[2021-11-10 15:45] lzehl commented on #55
actually I like "homogeneous cell population" & "heterogeneous cell population" a lot
do we have an agreement then?  @UlrikeS91 and @tgbugs

[2021-11-10 15:46] lzehl commented on #55
question: do we need to name it "organHemisphere" or could we just use "hemisphere"? @UlrikeS91 and @tgbugs

[2021-11-10 15:50] lzehl commented on #55
SUMMARY for TissueSampleType we want to have:
        'whole organ'
        'hemisphere'
        'tissue block'
        'tissue slice'
        'biopsy sample'
        'fluid specimen'
        'homogeneous cell population'
        'heterogeneous cell population'
        'single cell'

[2021-11-10 15:50] lzehl commented on #55
@apdavison is this fitting with your needs?

[2021-11-10 16:12] UlrikeS91 commented on #55
'whole organ'
'hemisphere'
'tissue block'
'tissue slice'
'biopsy sample'
'fluid specimen'
'homogeneous cell population'
'heterogeneous cell population'
'single cell'

You forgot `nerve` again 😆

"homogeneous cell population"/"heterogeneous cell population" just sounded a bit off in my head, but if you like it and it expresses what we need, I'm fine with adding them (with good definitions, though)

[2021-11-10 16:46] lzehl commented on #55
these nerves... :joy:

[2021-11-10 16:49] lzehl commented on #55
@UlrikeS91 can you prepare the PR or should I do it?

[2021-11-10 17:01] UlrikeS91 commented on #55
I can do it tomorrow 🙂

[2021-11-10 17:32] lzehl commented on #55
@UlrikeS91 thank you :pray:

[2021-11-11 09:56] UlrikeS91 commented on #72
I agree. I would also prefer to avoid "unknown" aka "I don't know". The other case needs to be covered, though. So, I like your suggestion/extension to my suggestion. I'm not a fan of "not detectable yet". It's very much true, because this is the reason the sex cannot be stated for some subjects, but since it says "yet" I get the feeling of "but it's possible later". Could we just call it "not det

[2021-11-11 10:00] #64 closed, assigned to nobody

[2021-11-11 12:48] lzehl commented on #72
yes. fine with me

[2021-11-11 17:26] lzehl commented on #58
@tgbugs thanks for bringing this up. it would be great if we could directly map to NWB . @lydiang I'm looking forward to your comments :) (the strain schema can be found in here: https://github.com/HumanBrainProject/openMINDS_core/blob/v4/schemas/research/strain.schema.tpl.json

[2021-11-12 11:44] ingrre opened #76 "request for new technique"
pressure injection; injection technique where pressure is used to inject a substance

request for new cell type: basket cell;  inhibitory GABAergic interneurons of the brain, found throughout different regions of the cortex and cerebellum

[2021-11-12 13:18] lzehl commented on #76
@ingrre thanks for those suggestions

I wonder what you mean with "pressure injection" precisely. Are not all injection substences injected using pressure? Do you mean high-pressure?

For "basket cell" would you like to enter a parent class for "basket cells" or would those two be sufficient?
+ neocortex basket cell (http://uri.interlex.org/base/ilx_0107351)
+ cerebellum basket cell (http://uri.in

[2021-11-12 14:42] UlrikeS91 commented on #76
No, not all injections are done using pressure. We even have one of the alternatives already in the system: https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/v1/instances/technique/iontophoreticMicroinjection.jsonld

So, pressure injection would be very useful to have (I also need that one for my own datasets 😆), and it exists in the method ontology: http://uri.interlex.org/ilx_0

[2021-11-12 14:44] ingrre commented on #76
Thanks for your swift replies. Pressure injection as a technique is also described in this paper: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4828981/

[2021-11-12 14:48] lzehl commented on #76
So you would like to have an additional "child" term for `injection` which is already part of the terminology.
That is fine with me then.

I will also enter all basket cell terms :)

@UlrikeS91  and @ingrre thanks for explaining a bit more :grin:

[2021-11-12 14:48] lzehl commented on #76
@UlrikeS91 I'm doing the PR unless you already started?

[2021-11-12 14:49] UlrikeS91 commented on #76
Nope, go ahead ☺️

[2021-11-16 17:22] tgbugs commented on #70
Let's start by adding definitions to see if that helps.

[2021-11-16 17:33] #55 closed, assigned to nobody

[2021-11-16 17:35] UlrikeS91 commented on #72
I just closed this issue and notice that we wanted to change biologicalSex to being optional, didn't we @lzehl?

[2021-11-16 17:36] #76 closed, assigned to nobody

[2021-11-16 17:49] lzehl opened #81 "reassess spatialRegistration vs imageRegistration"
@tgbugs Is this a synonym or something different?

[2021-11-16 17:50] tgbugs commented on #81
Yes, these are synonyms.

[2021-11-16 17:54] #72 closed, assigned to lzehl

[2021-11-16 18:47] UlrikeS91 opened #82 "FileGrouping new instances"
We should add:
- Tissue sample
- Tissue sample collection
- Protocol
- Subject Group

@lzehl

[2021-11-16 20:43] lzehl opened #83 "adding molecularEntity"
@tgbugs & @UlrikeS91 I'm surprised that no one requested that yet... we postponed this for a while.
do you agree adding the schema and at least some instances?

[@UlrikeS91 did you prepare something for this already? I have the feeling you did... if so, feel free to forward, I can take over if you want]

[2021-11-17 07:50] UlrikeS91 commented on #83
Yes, I have some first instances for a molecularEntity terminology ☺️ I have a list that includes more than just those, so it's not smart to link it here. But we can discuss the list offline and I can make a PR with what we landed on/want to include (which can be up for feedback from the broader community afterwards instead).

Sounds good?

[2021-11-17 08:03] tgbugs commented on #83
I'm guessing the domain is CHEBI + protein ontology/uniprot, so small molecules and proteins? Would this also cover engineered proteins such as eGFP, RFP, etc. which might have certain metadata templates about excitation frequencies or similar?

[2021-11-17 08:43] UlrikeS91 commented on #83
@tgbugs, here is an excerpt from the list. "Keywords from EBRAINS KG" are terms that have been stated as keywords in KG v2, then I did a rough "categorization" stating a potential terminology the term could fit in (here you only got the terms that could have something to do with molecular entities), "openMINDS (potential) name" states the (re)curate name of the term (work in progress, which is why

[2021-11-18 01:08] tgbugs commented on #83
A quick look suggest that most of these are correctly classified as molecular entities, however there are quite a few, such as retrograde tracer, neuropsin promoter, and others that are more correctly roles that a molecular entity can play.

[2021-11-18 10:35] lzehl commented on #83
@tgbugs I will prepare a PR with a couple of molecular entities. Could you have a look at it once I upload the respective instances and comment on the ones that are critical (should be listed in another terminology)?

[2021-11-19 09:46] lzehl opened #89 "adding cellTypes: e.g. 'D1 expressing neurons'"
@tgbugs : would it make sense to register neuron types such as 'D1 expressing neurons' or would you rather register this separately (e.g., in a study target field) as "neuron" and "D1 receptor" ?

[2021-11-19 11:20] lzehl commented on #82
@UlrikeS91 can you take this over?

[2021-11-19 12:33] lzehl opened #90 "adding technique: cryosectioning"
@tgbugs I'd like to add "cryosectioning" as technique. what do you think?
(@MaaikevS)

[2021-11-19 14:50] UlrikeS91 commented on #89
I think we need to add this information on some level. If the receptor/protein information is too detailed (as is the case for 'D1 expressing neurons'), we could use e.g. 'dopaminergic neuron' instead.
However, the information has an impact on the function of a neuron. To me, different subcellular composition would qualify as different cell types.
It's as usual a matter of perspective and what gra

[2021-11-19 14:55] UlrikeS91 commented on #90
Follow-up question: We have 'microtome sectioning' & 'vibratome sectioning'. I know that microtome sectioning can be done both as 'cryo-microtome sectioning'/'freezing microtome sectioning', as well as without cryo (what ever we would call that). Would we need to add those terms as well then?

[2021-11-19 14:57] #82 closed, assigned to nobody

[2021-11-19 14:59] lzehl commented on #89
'dopaminergic neuron' is not the same as 'D1 expressing neurons' apparently. 'dopaminergic neuron' exists also already in the ontology but not for the receptor expressing neuron.

I agree with you that this level is detailed but highly valuable I think.

[2021-11-19 15:00] lzehl commented on #90
I know there is 'cryo-microtome sectioning',the question is is the cryosectioning also peformed with an other device than a microtome? :sweat_smile:

[2021-11-19 15:04] UlrikeS91 commented on #90
Yes, I think so...

[2021-11-19 15:12] UlrikeS91 commented on #89
Yeah, true. Dopaminergic neurons (http://uri.interlex.org/base/ilx_0103395) are the ones releasing dopamine. D1 expressing neurons are the ones that have dopamine 1 receptors. Sorry, about that confusion...

[2021-11-19 15:18] lzehl commented on #90
then I think "cryosectioning" could be a nice parent term in case the device should not be specified?

[2021-11-19 15:20] lzehl commented on #89
So my feeling goes towards registering "dopaminergic neuron" as well as "D1 expressing neuron".
@UlrikeS91 and @tgbugs your feelings?

[2021-11-19 15:22] MaaikevS commented on #90
I would say a cryostat and a microtome are two different pieces of equipment.

[2021-11-19 15:24] lzehl commented on #90
@MaaikevS "cryostat" what do you mean?

[2021-11-19 15:27] lzehl commented on #90
So from what I read crysectioning is indeed in most cases cryo-microtome sectioning which is done with a microtome insight a cryostat

[2021-11-19 15:28] MaaikevS commented on #90
"A cryostat (from cryo meaning cold and stat meaning stable) is a device used to maintain low cryogenic temperatures of samples or devices mounted within the cryostat. "

In the dataset that initiated this discussion, they clearly state that they used a cryostat to section the tissue.
"the brains were cut coronally into 40 µm thick sections on a cryostat (Leica, Germany). "

[2021-11-19 15:28] lzehl commented on #90
And a cryostat seems to be always build with a microtome

[2021-11-19 15:29] MaaikevS commented on #90
That is a fair assessment then. I guess adding cryo to the microtome sectioning might be sufficient then

[2021-11-19 15:55] lzehl commented on #90
:+1: then we can do the PR

[2021-11-30 13:22] ingrre opened #94 "Request: new cell types and techniques"
Add cell types:
stellate cell
parvalbumin cell
cholecystokinin cell
cholinergic neuron
dopaminergic neuron
spiny projection neuron
somatostatin expressing neuron
vasoactive-intestinal peptide expressing neuron

Add technique:
infrared differential interference contrast (IR-DIC) microscopy (see dataset "Electrophysiological recordings of striatal low threshold-spiking interneuron")
ABC staining (av

[2021-11-30 17:20] tgbugs commented on #89
D1 dopamine receptor expressing neurons would be good to register. I think we need to add that to NPO.

[2021-11-30 17:53] tgbugs commented on #94
Is there more specific information about the follow cell types?
1. stellate cell, which brain region?
2. spiny projection neuron, which brain region? are these medium spiny neurons from L4 or striatum?

I will add the abstracted common usage types for PV, CCK, SST, and VIP.

For techniques
http://uri.interlex.org/base/ilx_0739494 IR-DIC already exists
We can add ABC staining, if you have the ident

[2021-11-30 17:59] UlrikeS91 commented on #89
also related to #94

[2021-11-30 18:09] UlrikeS91 commented on #89
conclusion:
- add "**D1 dopamine receptor expressing neuron**" with synonyms: D1 receptor expressing neuron | D1R expressing neuron | D1 expressing neuron | DRD1 expressing neuron | dopamine receptor D1 expressing neuron; no ontology ID
- add "**dopaminergic neuron**" (http://uri.interlex.org/ilx_0103395)

[2021-11-30 18:17] tgbugs commented on #90
I will add cryosectioning technique. Microtomy technique already exists  http://uri.interlex.org/base/ilx_0739422 .

[2021-11-30 18:30] UlrikeS91 commented on #94
conclusion:

requested cellTypes | controlledTerm/comment | synonyms | ontology ID
---|---|---|---
stellate cell | stellate cell | - | -
stellate cell | @ingrre maybe a brain region specific stellate cell  would be more suitable for your case? e.g. "cerebellum stellate cell" | - | http://uri.interlex.org/ilx_0101975
parvalbumin cell | parvalbumin expressing cell | PV+ cell, parvalbumin expressing

[2021-11-30 18:33] UlrikeS91 commented on #90
Conclusion:
- add "cryosectioning"
- update "microtome sectioning" with http://uri.interlex.org/base/ilx_0739422 as InterLex ID & "microtomy" as synonym

[2021-12-01 06:25] lzehl commented on #94
@UlrikeS91 question/comments:
a) for "stellate cell" didn't you argue that "stellate neuron" would be the better term for this one? but maybe I misunderstood
b) for "spiny projection neuron" we should go the same way as for "stellate"; register also the super-class, and the region-specific ones in addition
c) for ABC staining we should add ABC staining as synonym, no? (I think you just missed that

[2021-12-01 08:53] lzehl commented on #89
@UlrikeS91 I suggest to reduce the name for us to "D1 receptor expressing neuron"

[2021-12-01 10:06] UlrikeS91 commented on #94
Update:
@lzehl is right. I added "stellate neuron" and also added "cerebellum stellate neuron" (needed or not, doesn't matter). I've added "spiny neuron" because projection is not a cell type quality in itself. It only expresses that this is a cell connected to another cell injected by a tracer (roughly, the exact definition might be different). @ingrre if you need a more specific "spiny neuron" t

[2021-12-01 10:10] UlrikeS91 commented on #89
Works for me, but I named it "D1 receptor expressing **cell**" to be consistent within the "<<protein>> expressing cells". All of these always got the "<<protein>> expressing neuron" as synonym and additionally a bunch of others (e.g., including abbreviation of the protein and such). "D1 dopamine receptor expressing neuron" has been added as a synonym in this particular case.

[2021-12-01 10:28] ingrre commented on #94
Wonderful, thank you so much. Cerebellar stellate cells was what I needed for this exact case, so that's great.

I think spiny projection neurons (SPNs) are in fact a thing. The direct pathway SPNs (dSPNs) predominantly express the dopamine D1 receptor (D1R), and the indirect pathway SPNs (iSPNs) express the dopamine D2 receptor , according to this paper: https://elifesciences.org/articles/58544.

[2021-12-01 10:31] ingrre commented on #94
While at it, could we add "video recording" as technique too? Only "high speed video recording" exists at the moment, and I am not sure that would be correct in this case (https://doi.org/10.25493/9WBS-PK4)

[2021-12-01 12:04] UlrikeS91 opened #99 "Microscopy techniques - new instance (and maybe a clean-up)"
@ingrre asked if we could add "confocal light-sheet microscopy" and I think that it would make sense to do so. @tgbugs I checked the method ontology but couldn't find it there. Would it make sense to add it?

Additionally, I'm kind of wondering where we draw the line for the microscopy related terms? Below is a list of all microscopy term that we added so far:

- Brightfield microscopy
- Confocal

[2021-12-01 12:26] UlrikeS91 commented on #94
Based on the data descriptor and the following sentence, "The interaction time with the stranger mouse was recorded by the **video-tracking system** (ANY-maze, Stoelting Co, IL, US).", I would say that the technique "video tracking" should be best suitable, which already exists as a technique.

If anything I would actual say that "high-speed video recording" may need to be remove, @lzehl & @tgbugs

[2021-12-01 12:27] UlrikeS91 commented on #94
@ingrre requested "Purkinje cell" offline. This was a no-brainer and I added it to the PR (#98).

[2021-12-01 12:40] UlrikeS91 commented on #94
I'm sorry! I must have misunderstood that one...Google help, though. Wikipedia says that "medium spiny neurons" are a synonym for "spiny projection neurons".  I assume you are looking for the ones in the striatum? If so, I could offer you "striatum medium spiny neurons" (http://uri.interlex.org/ilx_0784362).
Some alternatives:
- "Neostriatum direct pathway spiny neuron" (http://uri.interlex.org/il

[2021-12-01 13:10] ingrre commented on #94
Great! Thanks. Can I have both? Both direct and indirect are used in my dataset (https://doi.org/10.25493/YP8N-HD2)

[2021-12-01 13:27] UlrikeS91 commented on #94
I've added both to PR #98.

[2021-12-01 18:18] lzehl commented on #99
@UlrikeS91 I agree to removing "microscopy" but maybe next year (if this is already in use in EBRAINS) I don't want to do another mapping right now for migration. But I will check how far this term is in use.

The rest I leave to @tgbugs

[2021-12-02 12:16] #90 closed, assigned to UlrikeS91

[2021-12-02 12:16] #94 closed, assigned to lzehl, UlrikeS91

[2021-12-02 12:17] #89 closed, assigned to UlrikeS91

[2021-12-09 18:39] lzehl commented on #83
this one was done in a first PR #85

[2021-12-09 18:39] #83 closed, assigned to nobody

[2021-12-09 18:41] lzehl commented on #58
I'll close this issue for now, because we went with the schema  https://github.com/HumanBrainProject/openMINDS_core/blob/v4/schemas/research/strain.schema.tpl.json for now.

@lydiang and @tgbugs feel free to raise a new issue for discussion

[2021-12-09 18:41] #58 closed, assigned to UlrikeS91

[2021-12-09 18:44] lzehl opened #101 "potential controlled terms additions"
How about these new TissueSampleAttributes (?):
+ sliced
+ untreated
+ mounted
+ fixated

And this new TissueSampleType (?):
+ tissue slice series

And this new SubjectAttribute (?):
+ comatose (OR unconscious)

[2021-12-13 09:47] UlrikeS91 commented on #101
- sliced: I would say no. We have TissueSampleType "tissue slice" and I cannot come up with a use case were any other "TissueSampleType" would make sense in combination with sliced as "TissueSampleAttribute", maybe "nerve" + "sliced". But then I would rather introduce a new TSType...
- untreated: ok
- mounted: ok, maybe add "free floating" or similar in parallel?
- fixated: ok

On a general note:

[2021-12-13 10:42] lzehl commented on #101
For the attributes question: I think what is crucial depends on the use case. You want to use attributes primarily to distinguish states from each other that do not differ in their main properties.

For the TissueSampleType suggestion: I think type "tissue slice" for a collection sounds/is wrong. A respective display would need to be always manipulated.

I agree with the rest. Thanks for the feedb

[2021-12-13 11:37] UlrikeS91 commented on #101
Yeah, true. Good point.

Yes, I agree. It will look wrong but the type is still correct - it's just the quantity that is not. But this will be a problem for all the TS vs. TSCollections, right? So, manipulating the respective display would be the best solution anyway :)

Great :) Yes, I can add them.

Summary (mostly for myself):
NOT adding:
- sliced
- tissue slice series

Adding as requested:
- u

[2021-12-13 11:44] lzehl commented on #101
fine for leaving the TSType for now. @olinux be aware that this will require display manipulations

[2021-12-14 09:58] amkvello opened #104 "Add other cell types to TissueSample origin?"
I suggest to add

- endothelial cell
- mural cell

to the "origin" controlled terms for TissueSample and TissueSampleCollection.

There might be other non-neuronal / non-glial cells that we want to add as well (that I cannot think of atm).

[2021-12-14 10:07] lzehl commented on #104
@amkvello thanks for making the request. To clarify you mean to add "vascular endothelial cell" (endothelial cell) and "vascular smooth muscle cell" (mural cell) as controlled terms to cell type, correct?

[2021-12-14 10:08] amkvello commented on #104
Yes, for cell type is what I meant. Sorry for being a bit unclear :)

[2021-12-14 10:10] lzehl commented on #104
don't worry. I think they both can be added. @tgbugs : there are multiple options in InterLex for "endothelial cell". Which one should we link? And I could not find an entry for mural cell in InterLex. Did I miss it?

[2021-12-14 10:13] amkvello commented on #104
@lzehl, I was not familiar with "mural cell" from before, only "vascular smooth muscle cell". Mural cell was stated by the data provider (and used in the file naming).

[2021-12-14 17:40] tgbugs commented on #104
I would go with vascular endothelial cell.

The vascular smooth muscle cell
[code]

[2021-12-14 17:41] #101 closed, assigned to UlrikeS91

[2021-12-17 12:56] lzehl commented on #104
integrated :)

[2021-12-17 12:56] #104 closed, assigned to nobody

[2022-01-11 10:59] MaaikevS opened #112 "Request for new technique"
Hi,

Could you please add RNA sequencing as a new technique? At the moment only single-cell RNA sequencing exists and the Data Provider does not think this is a suitable technique for his dataset. He would like to have "normal" RNA sequencing on the card.

Many thanks,
Maaike

[2022-01-11 11:03] MaaikevS opened #113 "New phenotype for zebrafish"
Hi,

Could you please add the following two phenotypes to the controlled terms?
- low aggression
- high aggression
These phenotypes are for a dataset with zebrafish and this is the most differentiating characteristic between two groups. It is also important for the research objective, so it would be great to visualise this at the level of the subjects

Many thanks,
Maaike

[2022-01-11 11:27] UlrikeS91 commented on #112
That sound reasonable and I also found an InterLex entry for it (http://uri.interlex.org/ilx_0782092), so I'll prep a PR :)

[2022-01-11 11:37] UlrikeS91 commented on #113
That won't be possible since the CT/phenotype is deprecated. Since you mentioned the case to me offline, I'll have a look and see what other solutions could apply for this case.

[2022-01-11 12:29] UlrikeS91 commented on #113
This is actually a rather interesting and could potentially be solve using the core strain schema.

A rough summary of the use case:
They did RNA sequencing to identify whether or not mirror aggression behavior has any genetic markers is zebrafish. To do so, they selectively bred fish displaying highest aggression or lowest aggression behavior for 4 generations (always selecting the offspring with

[2022-01-11 12:33] MaaikevS commented on #112
Thanks!

[2022-01-17 08:57] lzehl commented on #113
I'd leave this to @tgbugs and @Majpuc to discuss. Sounds like a good idea to me. @tgbugs do you know some zebrafish experts that could be included into the discussion?

[2022-01-17 13:41] Majpuc commented on #113
It seems from the literature that for Zebrafish, the term Wild type encompasses several strains, like AB, Tübingen long fin (TL), and Wild Indian Karyotype (WIK) (see https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7465594/). So when you are crossing AB only, you select for some genes but the strain logically should remain AB. I suggest to ask the DP as they are specialists in that matter.

[2022-01-26 13:24] AnnaHilverling opened #118 "subject state attribute suggestions"
I would like to propose two suggestions for "Attributes" in "Subject state":

1) drug infusion (should represent recordings taken during the infusion of a drug).
2) drug treatment (should represent recordings taken while the drug has developed its final "stable" dose).

[2022-01-26 13:56] UlrikeS91 commented on #118
Thanks for the suggestions. To me, at least the second suggestion sound reasonable. The name would need to be different - something along the lines of "drug treated", "dosed" or "drugged" to be consistent with the naming of other subjectAttributes.

Could you give a rough description of the use case? "drug infusion" is an activity/process, so my first intuition would be to capture it as a protocol

[2022-01-26 14:46] AnnaHilverling commented on #118
I see the point. I am fine with all your suggestions: "drugged", "drug treated", or "dosed".

The use case is that I have several recordings for one subject. These recordings were made once without drug treatment (control, 9 files)), once with drug treatment (9 files) and once while the drug was administered (drug infusion, 3 files)).
I would like to specify different subject states and set an att

[2022-01-28 10:07] apdavison opened #119 "cell types needed for Models migration"
The following cell types are needed for the Model migration that are not in the KG.

The names don't have to match these exactly, I can do a mapping if there is an entry in Interlex/Scicrunch for the same cell type but with a slightly different name.

- Golgi cell
- L2/3 pyramidal cell
- L5 tufted pyramidal cell
- cerebellar granule cell
- cholinergic interneuron
- fast spiking interneuron
- hippo

[2022-01-28 11:06] UlrikeS91 commented on #119
Thanks for the request, @apdavison. For cell types, we struggle a little bit with finding the correct ontology IDs because they tend to be more specific than what is colloquially used. Could you please have a look at the list below and see if this will cover want you need.

requested cell type | existing controlled term | suggested name | InterLex | comment
--|--|--|--|--
Golgi cell |  | **_cerebe

[2022-01-28 15:38] apdavison commented on #119
Many thanks @UlrikeS91. I think all of your proposals are good.

"neostriatum cholinergic interneuron" is probably ok for the Models we have, but it would be good to add the more general term as well, as I believe cholinergic interneurons are also found in the cerebral cortex, hippocampus, and nucleus accumbens, as well as the striatum.

"fast spiking interneuron" is a widely used term, so I agree

[2022-01-31 13:13] #112 closed, assigned to UlrikeS91

[2022-02-01 10:12] MaaikevS commented on #113
@Majpuc this seems like a logical explanation and I agree that the background would be AB. What is it exactly that you want clarification of from the DP?
I would be keen to move forward with this as he is aiming to release the dataset at the end of February and it would be nice to have this in place (if possible)

[2022-02-01 11:17] Majpuc commented on #113
What I mean is that the Zebrafish community seems to have slightly different conventions compared to Rodent community for naming subjects created by crossing different lines. I suggest to get some insight from the DP if they are willing to answer a few questions, so we don't impose a naming convention that is not relevant or make wrong assumptions. If they could give us some typical examples, it c

[2022-02-01 12:48] UlrikeS91 commented on #113
@Majpuc thank you for your input on this.

I get what you mean and I think I mostly agree that AB is still the strain. That is the reason that I proposed "selective (in)breeding" as breeding type. The issue is the phenotype vs. genotype. They select for specific phenotypes hoping that the resulting offsprings in fact displays differences in their genotypes (compared to both the normal AB strain an

[2022-02-01 12:49] MaaikevS commented on #113
I asked the DP and he said that the fish have been derived from AB wildtype zebrafish. So the genetic strain type should be wildtype according to him. He said that the phenotype between the groups differ, but that is accounted for in your diagram and despite the difference in aggression they both have a AB genetic background

[2022-02-01 12:55] UlrikeS91 commented on #113
Sound pretty much exactly like what I propose, right? Then would you like to add the missing controlled terms yourself, or should I? 😉

[2022-02-01 13:10] MaaikevS commented on #113
Indeed, it is like you proposed. I would be happy to move forward with that and add the missing controlled terms

[2022-02-01 13:17] UlrikeS91 commented on #113
Cool! When you are ready with your PR, you can set me as reviewer.

[2022-02-02 13:27] MaaikevS commented on #113
Ok, I entered the strains into the system and created a new CT for selective inbreeding ( which was accidentally pulled together with the other pull request, so apologies)

[2022-02-11 08:11] #119 closed, assigned to UlrikeS91

[2022-02-28 08:53] MaaikevS opened #133 "New tissue sample states attributes"
It would be good to have some additional tissue sample states, for example:

1. Fixated
2. Not fixated / "fresh"

@UlrikeS91 @lzehl Let me know your thoughts and I would be happy to add them if you agree!

[2022-02-28 08:57] MaaikevS opened #134 "Add new units of measurements"
I am working on protocol executions etc and I am missing some important units.

I am listing the ones I came across (and that might be useful to add) below:
- % w/v
- mg/kg
- percent
- ug/ml
- um/ml
- ml/g
- mg/ml
- degrees celsius
- mM

@lzehl @UlrikeS91 There are many additional options of course, but please let me know if we can add (some of) these. Again, I am happy to make the instances if yo

[2022-02-28 09:01] MaaikevS opened #135 "New schema for Administration Type"
Could we add a schema for administration type with the following controlled instances?
- oral
- subcutaneous
- interperitoneal
- intravenous

Any thoughts?

[2022-02-28 09:09] MaaikevS opened #136 "New deviceType suggestions"
Would it be possible to extend the number of instances for "DeviceType"?

For example with:
- microscope
- vibratome
- microtome

[2022-02-28 10:47] lzehl commented on #133
These two attributes are both already listed in tissueSampleAttribute.
fixated: https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/v1/instances/tissueSampleAttribute/fixated.jsonld
"fresh" as untreated: https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/v1/instances/tissueSampleAttribute/untreated.jsonld

[2022-02-28 10:48] lzehl commented on #133
@MaaikevS does this fit your needs?

[2022-02-28 12:15] MaaikevS commented on #133
I actually meant attributes indeed, so this is perfect. I must have overlooked them. Sorry about that!

[2022-02-28 12:15] #133 closed, assigned to nobody

[2022-02-28 12:31] lzehl commented on #135
@MaaikevS yes that's a good idea in regard of openMINDS extensions for surgeries or treatments. Do you want to make a PR for it or should we take over?

[2022-02-28 12:47] lzehl commented on #134
@MaaikevS thank you for this issue. This brings up a general question on SI vs non-SI units (which we did not distinguish so far) and how to deal with combinations of units as result of formulas (e.g. fraction calculations).

@apdavison I'd like to hear your thoughts here. Should we substructure the unit of measurements?

[2022-02-28 13:00] apdavison commented on #134
I think that would be adding too much complexity for too little return.

We should certainly avoid non-SI units except where they are the norm for a field, but not too many neuroscientists are using pounds, inches or furlongs these days :-)

[2022-02-28 13:11] lzehl commented on #134
@apdavison any comments on @MaaikevS suggestions or can we just add them as they are?

[2022-02-28 13:14] lzehl commented on #134
@MaaikevS if we register them they should be registered under their full names to be consistent with the others. Abbreviations can be put into synonyms (for now).

[2022-02-28 13:15] apdavison commented on #134
As long as the non-standard one has a clear definition (I don't know what `% w/v` is) I'm fine with adding these.

[2022-02-28 13:17] lzehl commented on #134
:joy: I had to look up that one as well... @MaaikevS do you want to make the respective PR or should we take over?

[2022-02-28 13:25] #113 closed, assigned to UlrikeS91

[2022-02-28 13:29] MaaikevS commented on #134
Regarding the % w/v, this is not very consistently used by data providers or described in methods. For example some people would say 20 % v/w sucrose solutions, whereas othere would just say 20% sucrose solution. In other words, not sure how important that particular one is.

I can make the instances.

[2022-02-28 16:04] UlrikeS91 commented on #134
The weight/volume percentage concentration (% w/v) is a standard way of reporting concentrations. I've used it both in the chemical lab and biological lab. It means that a solid (w as in weight, sometimes also m as in mass instead of the w) has been mixed with a liquid (v as in volume). For your example, it means that 20 g sucrose have been solved in 100 mL of something (in relation to cryoblockin

[2022-03-01 08:49] MaaikevS commented on #135
I will send a pull request in a minute :)

[2022-03-01 09:21] MaaikevS commented on #134
Thanks you all for the comments.

The list is indeed not an exhaustive list, it is only based on units I came across whilst looking into the metadata.

Based on the comments above, I suggest adding the following:
- % w/v --> weightPerVolumePercentage.jsonld
- % v/v --> volumePerVolumePercentage.jsonld
- % w/w --> weightPerWeightPercentage.jsonld
- percent --> percent.jsonld
- ug/ml --> microgramPe

[2022-03-01 13:52] UlrikeS91 commented on #134
Sounds good to me. I would also have used molar as the naming term. But stick to the singular for the units. So, use "degree" and not "degrees"

Still want to know what the um/ml is about, but it's not important for this here 😆

I got a little too stuck on concentrations, but you are right that this is an important unit of measurement for substance administration. Maybe it could be solve by making

[2022-03-02 07:18] MaaikevS opened #139 "New analysis technique in bioinformatics"
Would it be possible to add weighted gene co-expression network analysis as a technique?

Weighted gene co-expression network analysis (WGCNA) is a bioinformatics application for exploring the relationships between different gene sets (modules), or between gene sets and clinical features (Langfelder and Horvath, 2008).

[2022-03-03 14:17] lzehl commented on #139
@MaaikevS thanks for this suggestion. From what I see WGCNA is the name of an R package. I would therefore rather register "weighted correlation network analysis" which seems to be an analysis technique also usable on other data than gene expression

[2022-03-03 15:08] MaaikevS commented on #139
@lzehl You are right that WGCNA is indeed also the name of an R package, but it also seems to be a very common analysis when it comes to gene expression. However, it is not limited to gene expression alone as you point out. I think there is a good chance that most datasets shared in Neuroscience will apply it to gene expression, but we cannot be certain. Therefore including a more general form ins

[2022-03-03 15:10] lzehl commented on #139
yes please :)

[2022-03-10 12:46] #135 closed, assigned to nobody

[2022-03-10 12:50] MaaikevS commented on #99
@UlrikeS91 @lzehl, "microscopy" is not in use so can be removed

[2022-03-10 14:33] lzehl commented on #99
@MaaikevS  would you prepare the PR for the removal of microscopy? I will delete it afterwards from the EBRAINS KG

[2022-03-10 14:58] MaaikevS commented on #99
@lzehl Sure I can make a PR. Do you mean, remove the file? Or are there some intricate details I am not aware of?

[2022-03-10 15:07] lzehl commented on #99
@MaaikevS yes. just remove the jsonld file. the rest has to happen in the EBRAINS KG.

[2022-03-10 15:13] MaaikevS commented on #99
Done! See PR #145

[2022-03-15 14:25] #139 closed, assigned to nobody

[2022-03-15 17:39] UlrikeS91 opened #147 "Add new terminology - subcellular entity"
As discussed offline with @MaaikevS and @lzehl, we should add a new terminology called "subcellular entity" ([http://uri.interlex.org/ilx_0111157](http://uri.interlex.org/base/ilx_0111157)).

This would include controlled terms such as:
- (a)symmetric synapse
- neurites
- nucleus
- mitochondrion
- etc.

@MaaikevS would you be able to take care of this?

FYI @tgbugs

[2022-03-16 07:29] MaaikevS opened #149 "Reassessing cellType - neuron vs cell"
@lzehl @UlrikeS91 We briefly talked about the naming convention of cell types offline. The thought was that we should use "neuron" if it can only be a neuron, otherwise "cell". It looks like there were some inconsistencies introduced in the past. Would this be something to clean up now (before adding more)?

This is the list we have at the moment:

astrocyte
**basket cell**
cerebellar   interneuro

[2022-03-16 07:32] MaaikevS commented on #147
@UlrikeS91 Yes, I will take care of this

[2022-03-16 08:09] MaaikevS opened #150 "New cell types (based on term suggestions)"
Based on the term suggestions, there is a number of cell tyes that we should consider adding:

aromatase expressing neuron
calbindin expressing neuron
calretinin expressing neuron
choline acetyltransferase expressing neuron
cortical neuron
cortical postmitotic cell
cortical progenitor cell
D2 receptor expressing neuron
excitatory neuron
hippocampal neuron
inhibitory neuron
layer 6 neuron
neuropept

[2022-03-16 08:13] apdavison commented on #149
For the main label, I think we should go with the most commonly used name. For example, when I Google "Purkinje cell" (with the quotes) I get 955'000 results, but "Purkinje neuron" gives only 75'500 results. Of course we can and should put the synonyms in as well.

[2022-03-16 08:18] MaaikevS opened #151 "New terminolgy - ExperimentalMeasurement"
@lzehl @UlrikeS91 Following the ontology meeting, we consider adding a new terminology "experimental measurement".

Suggested terms for this terminology would be the following (not an exhaustive list):
- action potential
- alpha activity
- beta activity
- gamma activity
- inhibitory postsynaptic potential
- inhibitory postsynaptic current
- excitatory postsynaptic potential
- excitatory postsynapt

[2022-03-16 09:07] apdavison commented on #151
We already have "measured quantity", which mostly contains terms at the sub-cellular level at the moment (https://github.com/HumanBrainProject/openMINDS_controlledTerms/tree/v1/instances/measuredQuantity), but I think more macroscopic quantities like some of those in the list above would also fit (all of the "potential"s, "current"s, "activity"s).

However, some of the terms in the list, e.g. spik

[2022-03-16 09:13] MaaikevS commented on #151
As far as I understand, this is actually to replace the "measured quantity" that is currently there now (please confirm @lzehl ). The reason for this is that some of these quantities are measured and some are calculated, according to Tom. Hence, this might need to be merged. We wanted to discuss this on GitHub to align the different properties.

[2022-03-16 11:33] lzehl commented on #150
@MaaikevS thanks for preparing this. There are a few that I would not register, because they are semantic combinations with brain regions and not represent necessarily their own class (but feel free to disagree, and discuss). I think we should avoid these where possible (which we did not in the past). @tgbugs your insight here?

Here the once I would not register:
+ cortical neuron
+ cortical post

[2022-03-16 13:16] UlrikeS91 opened #152 "Add new service instance - OSD viewer"
We are working on some additional service links for some dataset that will use a different tool than LocaliZoom, which is viewing any type of images without an atlas overlay or anything. @majpuc, could you please provide information about this tool so that we can add a new service instance for this tool, just like we have for LocaliZoom: https://github.com/HumanBrainProject/openMINDS_controlledTer

[2022-03-16 13:17] lzehl commented on #151
@apdavison the idea was indeed to merge the macroscopic quantities into the "measured quantity" list and rename this terminology to  "experimental measurement" which fits better with the ontological interpretation of the joint terms.

Could you elaborate which terms exactly besides "spike time dependent plasticity" you would consider rather as "phenomena" and why?

My problem with "phenomena" vs "

[2022-03-16 14:01] apdavison commented on #151
Could you explain what is motivating this proposal? (i.e. what is the use case, how would this information be used in the KG and the UI).

It seems it is less closely related to "measured quantity" than I initially thought.

For ephys it is important that we can check that the units provided are consistent with what is being measured, so the physical dimensions of what is being measured are requir

[2022-03-16 14:32] Majpuc commented on #152
{
  "@context": {
    "@vocab": "https://openminds.ebrains.eu/vocab/"
  },
  "@id": "https://openminds.ebrains.eu/instances/service/Multi-Image-OSd",
  "@type": "https://openminds.ebrains.eu/controlledTerms/Service",
  "definition": "Web application for viewing of series of high-resolution 2D images.",
  "description": "Multi-Image-OSd allows the viewing and exploring of high-resolution images.  F

[2022-03-16 14:36] Majpuc opened #153 "correction of openMINDS_controlledTerms/instances/service/LocaliZoom.jsonld"
Hi,
I discovered a misunderstanding in the definition of the Localizoom viewer as service link and would like to correct it. It is confusing but we have Localizoom as a viewer only, the one used as service link and then the Localizoom sw that is allowing annotations.
Here would be the correct text:
{
  "@context": {
    "@vocab": "https://openminds.ebrains.eu/vocab/"
  },
  "@id": "https://openmin

[2022-03-16 15:21] lzehl commented on #151
@apdavison motivation is that we want to cover as many terms in the openMINDS libraries of controlled terms as possible. Currently there are many undefined term suggestions around "biological phenomenons" or "neuronal signals". The list above is an extraction of those undefined terms.

The "terminology" divisions of controlled terms into terminology schemas was mainly done to be able to target a s

[2022-03-16 15:29] lzehl commented on #153
@Majpuc is there in general a more lengthy description of LocaliZoom and documentation homepage links we should cover? It would be great to be a bit more detailed for the services are able to get these type of information. Could you support us here for LocaliZoom and the new one Multi-Image-OSd?

@UlrikeS91 FYI

[2022-03-17 11:11] UlrikeS91 commented on #153
I guess @Majpuc came across this because of #152. I can fix it in parallel to adding the new service.

[2022-03-17 11:36] Majpuc commented on #153
yes, we have a Readthedocs for Localizoom:  [](https://localizoom.readthedocs.io/en/latest/index.htm)
https://localizoom.readthedocs.io/en/latest/index.htm
 The doc for Multi-Image OSd is coming soon.

[2022-03-18 12:04] MaaikevS commented on #152
I think we should push this if we want to move forward with the service links for this service. I would say the name probably has to be changed though.

[2022-03-21 09:01] #152 closed, assigned to UlrikeS91

[2022-03-21 09:01] #153 closed, assigned to nobody

[2022-03-30 10:34] lzehl opened #163 "missing UBERON parcellations"
+ UBERONParcellation/whiteMatterOfCerebellum
+ UBERONParcellation/thalamicComplex
+ UBERONParcellation/vessel
+ UBERONParcellation/cerebrospinalFluid

[2022-04-01 08:40] ingrre opened #166 "UBERONparcellation: V4"
Hi! I want to add V1 and V4 to a macaque dataset (this one specifically: https://www.nature.com/articles/s41597-022-01180-1#citeas). I can use UBERONparcellations, but only primary visual cortex exists, so I would like to ask you to add V4. I could however not immediately find it in the ontology search (https://www.ebi.ac.uk/ols/ontologies/uberon). Hope you can help me find a viable solution.

[2022-04-01 10:55] lzehl commented on #166
@ingrre V4 is not registered in UBERON (yet). Did you ask the data provider if they typically use a specific macaque atlas/parcellation?

For EBRAINS curation: Feel free to add areas you cannot find anywhere as Custom Anatomical Entity. Note: For macaques we should move to using the areas of the MEBRAINS atlas if the data provider does not state he/she used an other specific macaque atlas. Note th

[2022-04-04 08:32] AnnaHilverling opened #167 "technique suggestion - bias field correction"
Hi all, I would like to propose the following method as a new technique: Bias field correction
(a method for removing intensity gradients from MR images so that segmentation algorithms are not incorrectly influenced).

[2022-04-04 13:11] AnnaHilverling opened #168 "technique suggestion - Multi-Voxel Pattern Analysis (MVPA)"
Hi all, I would like to propose the following method as new technique:
Multi-Voxel Pattern Analysis (MVPA)
https://www.brainvoyager.com/bv/doc/UsersGuide/MVPA/MultiVoxelPatternAnalysisMVPA.html

[2022-04-06 11:45] #168 closed, assigned to nobody

[2022-04-06 11:45] #167 closed, assigned to nobody

[2022-04-06 11:50] UlrikeS91 commented on #134
The PR form @MaaikevS has been merged. I will close this issue for now.

[2022-04-06 11:50] #134 closed, assigned to nobody

[2022-04-06 11:51] UlrikeS91 commented on #118
@lzehl could you please give some feedback so that we can conclude on a solution for @AnnaHilverling.

[2022-04-06 11:56] UlrikeS91 commented on #136
Sorry that nobody has reacted to your request. @lzehl, this was also discussed in relation to the ephys extension. Those can (and should be) added. The controlledTerms schema exists, and it has been added as a terminology, but the instances folder does not exist yet.
@MaaikevS would you be able to prepare the instances in a new deviceType folder (here: https://github.com/HumanBrainProject/openMIND

[2022-04-06 12:04] UlrikeS91 commented on #147
We need some additional things here. Sorry about the delay.

Generally, when a new terminology is added to the controlledTerms repo, the following 3 things have to be done:
1. Create the new controlled terms schema for the specific terminology (which has been done in PR #158)
2. Create the corresponding instances in the terminology folder (here: https://github.com/HumanBrainProject/openMINDS_contr

[2022-04-06 12:06] MaaikevS commented on #147
@UlrikeS91 I will take care of this in the next few days. I have been delayed on openMINDS related developments because of last minute other tasks!

[2022-04-06 13:44] lzehl commented on #118
@AnnaHilverling thanks for raising this issue. @UlrikeS91 thanks for pushing me to provide feedback :smile:

Adding the terms "untreated" and "drugged" as attributes for subjects should solve case to differentiate between undrugged and fully drugged subject states.

The other case is indeed an interesting problem, since a recording happening while a subject is in the process of being drugged.

@An

[2022-04-06 13:49] lzehl commented on #136
@MaaikevS @UlrikeS91 yes please go ahead and add instances for DeviceType.
@Peyman-N please provide a list of DeviceTypes that you need (I assume for example "MRI scanner", or "PET scanner", or "Amplifier").

[2022-04-06 14:33] AnnaHilverling opened #173 "subject state attribution - 2 new suggestions"
Hi all, I would like to suggest two new attributes in subjectState:
1. congenitally blind
2. acquired blind

For now I have added 'congenitally blind individuals' under additional remarks in the subjectState. Or do you think this solutions is appropriate?

[2022-04-06 14:39] UlrikeS91 commented on #149
Thanks, @MaaikevS for the very nice groundwork ☺️ This makes it a lot easier to discuss this topic.

Thanks for your insights here. I agree. Some of the cell types listed here basically don't exist as "neuron", e.g. "granule cell" and of course @apdavison example.

We should however prefer "neuron" over "cell" whenever there is no clear tendency (but a neuron is meant). So, @MaaikevS, all "XX-expr

[2022-04-06 15:20] lzehl commented on #173
@AnnaHilverling thanks for raising the issue.
@UlrikeS91 & @MaaikevS I think those terms might be better suited in our Disease terminology ?

[2022-04-06 15:35] lzehl commented on #149
@UlrikeS91 I worry about the combination of terms (cell type + brain region) because it infers that there is something very special about this neuron type compared to the same neuron type in other regions which is not always the case (even if they are used as terms in the community). And we don't have the knowledge to research if the combination is valid and deserves its own term or not. Even if w

[2022-04-07 14:47] AnnaHilverling commented on #118
@lzehl and @UlrikeS91 thank you for bringing this topic up again :)

I will add this information to additional remarks. As soon as 'untreated' and 'drugged' are available, I will attach these attributes as well.

[2022-04-08 06:14] MaaikevS commented on #147
@UlrikeS91 Number 1 and 2 of your list were already done a few weeks ago. Number 3 should be taken care of with PR #174

[2022-04-08 06:41] UlrikeS91 commented on #147
True. Sorry about that. I must have missed the instance in the terminology folder! Thanks for fixing the PR. I'll review it now.

[2022-04-08 06:48] #163 closed, assigned to nobody

[2022-04-08 06:49] MaaikevS commented on #149
I agree with Lyuba's observation that brain region + cell type give the impression that the cell type is different, which may not always be the case. In some cases the cell type only/predominantly exists in a particular brain region, so in those cases one could argue that it is fine to use the combination. Nevertheless, it might be a good idea to put the cell types that fall into that category ("w

[2022-04-08 06:56] UlrikeS91 commented on #166
This was solved by the use of custom anatomical entities. We considered using UBERON parcellations but it turns out that V4 does not exist or at least I couldn't find it. The closest match was "visual association cortex" (which includes more than just V4), "extrastriate cortex" (which includes V2, V3, V4 and V5) or "Brodmann area 19" (which still includes V2, V4 and V5, and also has a "human" ring

[2022-04-08 06:56] #166 closed, assigned to nobody

[2022-04-08 07:29] MaaikevS commented on #173
@lzehl I agree. They are better suited in the Disease terminology

[2022-04-08 07:42] UlrikeS91 commented on #173
Yes, I would argue that both are pathologies of the individuals and "congenitally blind" certainly falls under the "disease" category in openMINDS.

I would add "congenital blindness" as a controlledTerms/disease with the following definition:
_Congenitally blind individuals were born with permanent and irreversible lack of or severely impaired vision._

The description could elaborate:
_Congenita

[2022-04-08 07:52] UlrikeS91 commented on #149
I see your points and generally agree. I also like the suggestion to add a small schema to state such relations more clearly. I don't have any experience as to whether or not this would be problematic on the protocolExecution schema at the moment, but I suspect that some could in fact turn out to be ambiguous. But as long as we haven't experienced any issue, it should be fine to remove the brain r

[2022-04-08 07:54] #147 closed, assigned to nobody

[2022-04-08 08:46] MaaikevS commented on #136
@UlrikeS91 @lzehl I was under the impression that deviceType already had a folder (there is the instance "magnetic resonance imaging scanner" for deviceType in the KGE). This is probably old then; the info can be converted into a new openMINDS instance and the instance can be removed from the KGE (it is not attached to anything yet)

I will start with the following device types:
- microscope
- vib

[2022-04-08 09:06] MaaikevS commented on #136
Actually, I think PET is more a method than a device, since it is typically combined with CT (PET/CT) or MRI (PET/MRI). So perhaps we want to consider adding the combination instead of PET scanner. Thoughts?

[2022-04-08 10:35] AnnaHilverling commented on #173
Hi all, thanks so much for all your input.

@UlrikeS91 Thanks for working out the descriptions and definitions.

But I don't know exactly if I can agree that congenital blindness or acquired blindness is entered as a disease. I would rather say that it is a resulting condition from a disease and should not be defined as a disease itself.
What do you think?

As already stated in the definitions abo

[2022-04-08 10:44] MaaikevS commented on #173
Following the definitions I found online, I would argue blindness might be best described as a disorder.

A **disease** is a pathophysiological response to internal or external factors.
A **disorder** is a disruption to regular bodily structure and function.
A **syndrome** is a collection of signs and symptoms associated with a specific health-related cause.
A **condition** is an abnormal state of

[2022-04-08 11:05] UlrikeS91 commented on #173
I understand the confusion, and semantically agree with both @AnnaHilverling and @MaaikevS that blindness is not a disease. Our original idea was to basically collect every abnormal pathology/deviation from normal pathology in "disease".

@AnnaHilverling ignore the name "disease" now - Would you agree that blindness is a pathological change in the body (e.g., [definition of "pathologcial"](https:/

[2022-04-08 12:34] AnnaHilverling commented on #173
Hi @MaaikevS and @UlrikeS91, many thanks for your reponse.

@UlrikeS91 I understand your original idea. So, yes, I agree that blindness is a pathological change in the body caused by a disease.

[2022-04-11 07:50] lzehl commented on #136
as far as I researched there are also PET standalone scanners. But I agree we should add the more common ones as well PET/CT scanner (which is not purely a combination of two devices but one device able to perform both techniques as far as I know).

[2022-04-11 08:00] lzehl commented on #173
@MaaikevS this is a good suggestion to refine the "disease" terms into better fitting terminologies. I would stick for now to disease and disorder, since syndrome and condition are "properties" of diseases and disorders.

@UlrikeS91 do we have only diseases now in "disease" or is there already a mix between disease and disorder?

[2022-04-11 11:03] lzehl commented on #118
solved with #175

[2022-04-11 11:03] #118 closed, assigned to nobody

[2022-04-11 12:18] lzehl commented on #149
@UlrikeS91 and @MaaikevS the suggested naming convention (excluding the brain region combination) seemed fine to me. @MaaikevS I agree with your approach.

[2022-04-11 14:21] MaaikevS commented on #149
@lzehl @UlrikeS91 I made the changes as suggested. Once these changes are approved, I will clean up the term suggestions

[2022-04-11 15:06] lzehl commented on #136
closed with #176

[2022-04-11 15:06] #136 closed, assigned to nobody

[2022-04-12 09:18] MaaikevS commented on #70
To come back to this issue. @lzehl @UlrikeS91

1) **Fixation technique:**
Suggested definition:
Fixation is a technique to preserve tissues permanently as faithfully as possible compared to the living state.
Suggested description:
Fixation is a two-step process in which 1) all normal life functions are terminated and 2) the structure of the tissue is stabilized (preserved). The fixation of tissue

[2022-04-13 09:04] AnnaHilverling opened #180 "Suggestions for genetic techniques"
Hi all,

I would like to start a discussion about the following methods:
- whole genome sequencing
- single-gene analysis / sequencing
- (protein) pathway analysis
- single nucleotide polymorphism analysis

--> Should these methods be registered as individual techniques?

Maybe single nucleotid polymorphism fits better to study target, but I do not know in which category this should be registered.

[2022-04-13 10:34] MaaikevS commented on #150
Cell types that are now registered (and cleaned up in the KGE):

aromatase expressing neuron
calbindin expressing neuron
calretinin expressing neuron
choline acetyltransferase expressing neuron
postmitotic cell
progenitor cell
D2 receptor expressing neuron
excitatory neuron
inhibitory neuron
neuropeptide Y expressing neuron
nitric oxide synthase expressing neuron

Further discussion is needed to s

[2022-04-13 11:19] MaaikevS commented on #70
@tgbugs Could you please have a look at this again? Thank you!

[2022-04-13 11:31] MaaikevS opened #185 "New molecular entities"
Here is a list of molecular entities that would be good to add. Naming convention (abbreviation vs full name) needs to be decided on.

I would like to propose to do this in stages and prioritise the more pressing ones first. Please feel free to indicate which ones need prioritisation.

name | synonym | interlex | preferredOntology | KnowledgeSpace
-- | -- | -- | -- | --
4-DAMP methobromide |   | h

[2022-04-13 12:12] lzehl commented on #185
should we prioritize after available information?
1. all terms with InterLex + preferred onotology
2. all terms with InterLex only
3. all terms with preferred ontology only
4. all terms with no external reference

[2022-04-13 13:53] MaaikevS commented on #185
@lzehl That sounds like a sensible prioritisation.
I can make a start for some of them if you like

[2022-04-13 14:02] #173 closed, assigned to nobody

[2022-04-13 14:38] lzehl commented on #180
@AnnaHilverling thanks for raising the issue.

@tgbugs could you have a look at this? See my comments below:
I know whole genome sequencing is registered in InterLex.
I found some comparison paper between single-gene anaysis vs gene set analysis (https://www.frontiersin.org/articles/10.3389/fgene.2020.00654/full), but no clear one sentence definition.
I found pathway analysis in InterLex but I'm n

[2022-04-13 14:39] lzehl commented on #185
@MaaikevS yes please :)

[2022-04-14 08:28] szafarnia opened #189 "Request for new technique"
Dear all,

Would it be possible to add „Support Vector Regression” as a new technique?

Many thanks,
Sara

[2022-04-14 12:21] lzehl commented on #151
@apdavison did we come to a solution for this issue? if not do we need to have a meeting to discuss in person?

[2022-04-14 13:09] AnnaHilverling opened #191 "Request to add sulci from UBERON"
Hi @lzehl and @UlrikeS91,

would it be possible to pull the sulci and gyri from UBERON and add them as Uberonparcellation entities?

Many thanks!

[2022-04-14 14:10] lzehl commented on #191
@AnnaHilverling which ones are missing that you need?

[2022-04-14 14:36] AnnaHilverling commented on #191
@lzehl these are the entries I need for a dataset:

- central sulcus: http://purl.obolibrary.org/obo/UBERON_0002916
- precentral gyrus: http://purl.obolibrary.org/obo/UBERON_0022252
- superior temporal sulcus: http://purl.obolibrary.org/obo/UBERON_0002734

[2022-04-14 14:58] AnnaHilverling opened #192 "Request for new technique"
Hi @skoehnen,

I would like to propose 'manifold learning' as new technique.

Many thanks :)

[2022-04-19 09:41] AnnaHilverling opened #193 "Expansion of study target - molecular entity"
Hi @lzehl and @UlrikeS91,

I would like to add the below entites as study targets to a dataset:
- 5-HT1B
- 5-HT2A
- 5-HT4
- 5-HTT

The first three are serotonin receptors and the fourth is a serotonin transporter. All four fit under molecular entity. What do you think?

[2022-04-19 09:52] lzehl commented on #193
@MaaikevS could you cover those in the next PR for molecular entities?

[2022-04-19 09:53] skoehnen commented on #189
Support Vector Regression is now available.

[2022-04-19 09:53] #189 closed, assigned to nobody

[2022-04-19 09:57] MaaikevS commented on #193
@lzehl Yes, I will include these in the next PR

[2022-04-19 10:23] lzehl commented on #193
@MaaikevS perfect :) thank you!! (@AnnaHilverling we'll keep you updated)

[2022-04-19 10:39] AnnaHilverling commented on #193
@lzehl and @MaaikevS many thanks :)

[2022-04-19 10:42] AnnaHilverling opened #195 "2 new technique proposals"
Hi @skoehnen and @lzehl,

I would like to propose the below registration methods as new technique entities:

- boundary-based registration (BBR) - (see Greve and Fischl et al. 2009, https://doi.org/10.1016/j.neuroimage.2009.06.060)
- combined volume–surface (CVS) registration  - (see Postelnicu et al. 2009, https://dx.doi.org/10.1109%2FTMI.2008.2004426)

Please let me know what you think.
Many tha

[2022-04-19 10:53] lzehl commented on #195
They appear to be both well documented techniques that we can register. @skoehnen would you agree?

[2022-04-19 11:04] MaaikevS commented on #193
@lzehl @AnnaHilverling I created the four instances. See PR #197

[2022-04-19 11:21] szafarnia opened #198 "Request for new technique"
Dear all,

Could you please add following as new techniques?
- k-mean clustering
- multi-scale independent component clustering algorithm
- connected-component analysis

Many thanks in advance.

Best,
Sara

[2022-04-19 12:03] skoehnen commented on #195
Yes, I agree, we should register those methods.

[2022-04-19 12:05] UlrikeS91 commented on #191
@AnnaHilverling did you mean precentral SULCUS? The link to the UBERON entry is for that one. If you needed precentral gyrus, that one already exists as controlled term which has this UBERON ID: http://purl.obolibrary.org/obo/UBERON_0002703.

[2022-04-19 12:19] AnnaHilverling commented on #191
@UlrikeS91 No, I meant the precentral **gyrus**. Then I must have overlooked it. My fault.

[2022-04-19 15:47] lzehl commented on #193
@AnnaHilverling & @MaaikevS and approved and merged :)

[2022-04-19 15:47] #193 closed, assigned to nobody

[2022-04-19 16:41] lzehl commented on #70
result of discussion with @tgbugs,

Keep:
+ fixation technique
+ perfusion fixation technique
+ perfusion technique
+ intracardiac perfusion technique (with intracardial perfusion technique, transcardial perfusion technique)

Delete:
+ tissue fixation technique

Add:
+ diffusion fixation technique
+ intracardiac perfusion fixation technique (see synonyms above)

[2022-04-19 17:21] lzehl commented on #99
Result of discussion with @tgbugs :

Let's add definitions to see what we might want to merge, but I think besides the widefield fluorescence microscopy & epifluorescent microscopy these can be all considered as different techniques

[2022-04-20 07:13] AnnaHilverling opened #202 "New techniques (from MRTM model variants)"
Hi @skoehnen and @lzehl,

As a result of our discussion, I would like to have the following measurement methods entered as techniques:
- binding potential measurement
- relative delivery rate measurement
- clearance rate measurement

Many thanks for your help!

[2022-04-20 09:30] lzehl commented on #202
@AnnaHilverling the PR is prepared. But I would like to get some expert feedback for those terms.

[2022-04-20 09:41] lzehl commented on #198
this issue was solved with PR #199

[2022-04-20 09:41] #198 closed, assigned to nobody

[2022-04-20 09:51] lzehl commented on #191
should be solved now with #196

[2022-04-20 09:51] #191 closed, assigned to nobody

[2022-04-20 10:15] szafarnia opened #205 "UBERONparcellation"
Dear all,

Could you please add „intraparietal sulcus“ as UBERONparcellations?
As Information: I found it in the ontology search: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002913

Many thanks in advance.

Best,
Sara

[2022-04-20 13:14] UlrikeS91 commented on #205
Thanks for adding the ontology link, @szafarnia! I've created the instance. If either @MaaikevS or @lzehl reviews (and merges) it today, you can start using it tomorrow in the KGE ☺️

[2022-04-20 13:37] #70 closed, assigned to nobody

[2022-04-20 13:41] MaaikevS commented on #205
Approved and added!

[2022-04-20 13:41] #205 closed, assigned to nobody

[2022-04-20 13:43] lzehl commented on #180
@AnnaHilverling and @tgbugs

I've added now:
+ DNA sequencing
+ single gene analysis
+ whole genome sequencing
+ pathway analysis
+ single nucleotide polymorphism detection

[2022-04-20 14:32] AnnaHilverling opened #208 "Aseg Atlas - caudate is missing"
Hi @lzehl,

For the Aseg Atlas I miss the region 'Aseg-caudate', respectively cannot find it under parcellation entity.
Would you mind adding it?

Many thanks!

[2022-04-20 15:38] lzehl commented on #208
@AnnaHilverling I'll check. this issue should in principle currently go to openMINDS_SANDS (https://github.com/HumanBrainProject/openMINDS_SANDS) where atlases are defined at the moment

[2022-04-20 15:44] lzehl commented on #208
@AnnaHilverling PR is made in SANDS and awaiting review. Should be available latest on Friday

[2022-04-21 06:17] #208 closed, assigned to nobody

[2022-04-21 07:52] lzehl commented on #81
@MaaikevS & @UlrikeS91 this means that we need to merge the terms, keeping "image registration" with "spatial registration" as synonym. For EBRAINS this means quite a lot of cleanup.

[2022-04-22 11:12] #192 closed, assigned to nobody

[2022-04-22 11:22] #81 closed, assigned to nobody

[2022-04-26 14:16] AnnaHilverling opened #212 "Echo-planar imaging"
Hi @UlrikeS91, @MaaikevS and @lzehl,

I have the question if echo-planar imaging (EPI) should be listed as a separate technique?
Actually EPI is an MRI pulse sequence and therefore a parameter of MRI. In this form I also found only echo planar pulse sequence via Interlex: https://scicrunch.org/scicrunch/interlex/view/ilx_0103659?searchTerm=echo-planar%20imaging

But how else could EPI be registere

[2022-04-26 15:13] lzehl commented on #212
@tgbugs we should discuss this one

[2022-04-26 16:29] lzehl commented on #202
@AnnaHilverling I've discussed with @tgbugs and we decided to do the following with the MRTM model variants within EBRAINS:
+ register "multilinear regression" as technique
+ register "Multilinear Reference Tissue Model (MRTM)" and variants as keywords
+ register "PET-derived binding potential" etc. as study target

[2022-04-26 16:29] tgbugs commented on #202
https://www.pmod.com/files/download/v31/doc/pkin/2316.htm

[2022-04-26 17:09] lzehl commented on #212
@AnnaHilverling: based on the discussion with @tgbugs we will register "echo planar pulse sequence" into techniques.

For curation: register magnetic resonance imaging + the pulse sequence

Other pulse sequences to register:
+ T1 pulse sequence (T
+ T2 pulse sequence (T2 prepared)
+ etc

[look at: https://pubs.rsna.org/doi/10.1148/rg.262055063 and wikipedia MRI sequence page]

[2022-04-29 09:55] lzehl opened #214 "CCEP (cortico-cortical evoked potential) mapping"
CCEP mapping is a relatively novel in vivo brain mapping technique, utilizing low frequency stimulation, in patients undergoing invasive monitoring for refractory epilepsy (Matsumoto et al., 2004). CCEP mapping produces evoked effective connectivity data.

[2022-04-29 09:55] lzehl commented on #214
I suggest we add this to our Technique terminology. FYI @tgbugs & @MaaikevS

[2022-04-29 10:03] lzehl opened #215 "ensemble bagging machine learning"
suggestion for new Technique. @skoehnen could you take this over? I think you can write the better definition....

[2022-04-29 10:40] lzehl opened #216 "model-driven artifact removal"
@skoehnen could you have a look at this paper http://dx.doi.org/10.1016/j.jneumeth.2016.03.002 and tell me if we should register for the suggested artifact removal method the above suggested term as technique?

[2022-04-29 10:53] skoehnen commented on #215
@lzehl I will take a look.

[2022-04-29 11:25] UlrikeS91 commented on #214
Just to clarify: You want to add it as an analysis technique, right? I looked at some papers that used this mapping and the experimental technique in most cases would be "electrocorticogram" (ECoG) and an electrical stimulation (of distinct areas). Then the causal relation between brain regions following the stimulation is evaluated, meaning did the stimulation in area A trigger an electrical resp

[2022-04-29 11:29] lzehl commented on #214
@UlrikeS91 thanks for you summary. we need to be careful here to distinguish between the recorded signal, meaning the cortico-cortical evoked potentials, and the stimulation / analysis technique that uses repeated stimulations to evoke multiple CCEPs across the brain to determine effective connectivity. So we need it "twice": as study target we need cortico-cortical evoked potential as evoked neur

[2022-04-29 12:04] skoehnen commented on #216
I would say we should include it, but the name model-driven artefact removal is very generic and mean a whole bunch of techniques in different fields.
For example Image Processing has a lot of artifact removal methods that are model-driven.

[2022-04-29 13:52] UlrikeS91 commented on #214
Conclusion from offline discussion:
1. Add CCEP as "experimental measurement", related to https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/151. FYI @MaaikevS, this is also added as a TermSuggestion already in the KG with the following definition: "A 'cortico-cortical evoked potential' is a an evoked neuronal population response to a brief electrical pulse used to mimic the phy

[2022-04-29 14:04] #214 closed, assigned to UlrikeS91

[2022-05-04 09:12] UlrikeS91 commented on #99
Thanks to everybody for all the discussion (online and offline) and the PRs to make first fixes! To see where we are with this issue, I'd like to sumnmarize and identify the parts that are still open.

During the discussion, we pretty much agreed that all of the listed microscopy techniques will remain (except for microscopy which is captured as an experimental approach in openMINDS).

I've copied

[2022-05-09 09:32] MaaikevS opened #222 "New subjectAttribute"
Hi @UlrikeS91 @lzehl,

Could we add a subject attribute for "injected" or something similar (e.g. "treated"). This is not for drug treatment, but mainly for an injection of a tracer for example. I know we could make these things clear when adding protocols (which I will add anyway), but I think it would be beneficial to also be able to "tag" subjects with an attribute that describes that state.

A

[2022-05-09 10:15] UlrikeS91 commented on #222
We have "untreated" and "drugged" (see PR #175). I see how "drugged" won't work in this case, but I guess we could add "treated" as well. This should cover most other cases and doesn't imply that drugs/medicine was used. @lzehl what do you think?

[2022-05-09 10:33] MaaikevS commented on #222
Thanks for the quick response. I agree and I would be happy with "treated" for now

[2022-05-10 17:02] #99 closed, assigned to nobody

[2022-05-11 08:53] AnnaHilverling opened #223 "Request to add more Uberonparcellations"
Hi all,
I would like to ask if the following study target can be added as Uberonparcellation:
- auditory cortex (http://purl.obolibrary.org/obo/UBERON_0001393)

Then I have a question about the study target "medial temporal lobe". Medial temporal lobe (MTL) does not exist in the Uberonparcellation. According to the literature, the following cortex structures belong to the MTL, all of which can be

[2022-05-11 09:42] UlrikeS91 commented on #223
Thanks for the request, @AnnaHilverling!

Auditory cortex should be added, I will makke a PR for it (and others, depending on the conlusion for the MTL request).

Medial temporal lobe is a tricky one. I found e.g. this article, https://www.frontiersin.org/articles/10.3389/fnana.2018.00098/full, that defines the MTL regions in Figure 2 to be many more than the 3 that you mentioned. This also fits w

[2022-05-11 10:06] AnnaHilverling commented on #223
Hi @UlrikeS91, thanks for your quick response!

Concerning the MTL regions. Yes, you are right, the hippocampal regions are also included in the MTL, but since the researcher had already explicitly named this region as a study target, I did not consider to mention it here. I should have mentioned that I had already added "hippocampal formation" as a study target  🙃 🙂
I cannot find the "temporopola

[2022-05-11 12:14] szafarnia opened #224 "new techniques"
Dear all,

Would it be possible to add following as new techniques to KG?

- GPU based white matter phantom generator
- Nerve fiber modelling

Best,
Sara

[2022-05-13 13:52] MaaikevS commented on #222
Subject attribute "treated" has now been added. Thanks @UlrikeS91

[2022-05-13 13:52] #222 closed, assigned to nobody

[2022-05-19 10:12] szafarnia opened #227 "new technique: retinotopic mapping"
Dear all,

Could you please add "retinotopic mapping" as new technique to KG?

Many thanks in advance.

Best,
Sara

[2022-05-23 11:23] lzehl commented on #227
@tgbugs @UlrikeS91 @MaaikevS could we discuss this in the ontology meeting? I would argue that this fits since we also support receptive field mapping.

[2022-05-24 16:46] tgbugs commented on #227
The two techniques are separate. Most simply, receptive fields can apply to more than the visual system. Receptive field mapping is usually to single cells where as retinotopic mapping is whole populations/swaths of cortex. See https://doi.org/10.1016/j.neuron.2016.07.015 for an example of a transition between the two levels.

[2022-05-24 17:44] lzehl commented on #151
@apdavison @UlrikeS91 : @MaaikevS @tgbugs and I discussed this one again. here our result :

We keep all "single-value" stuff that can be directly or indirectly measured (e.g. membrane potential, chloride reversal potential, input resistence) in MeasuredQuantity. @apdavison here it would be good though to replace "measuredHoldingPotential" with just "holdingPotential" and move the "measured" vs "t

[2022-05-25 06:00] UlrikeS91 commented on #151
Sounds good to me, but I also don't have a strong opinion about this anyway.

[2022-05-30 10:53] apdavison commented on #151
@lzehl sounds fine to me. I've fixed the "holding potential" issue in #230

[2022-05-30 10:59] lzehl commented on #151
@apdavison and @UlrikeS91 perfect! The PR [#230](https://github.com/HumanBrainProject/openMINDS_controlledTerms/pull/230) is already merged.

@MaaikevS do you want to take over the PR for the BiologicalProcess schema + instances (initial selection)? Please let me know if you don't have the time at the moment.

[2022-06-01 06:30] lzehl opened #231 "new technique: nuisance regression"
"'Nuisance regression seeks to attenuate non-neural BOLD fluctuations from measurable noise sources such as scanner drift and head motion, as well as periodic physiological signals (e.g., heartbeat and respiration; [Birn et al., 2008](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3759585/#R5); [Chang et al., 2009](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3759585/#R11)), ...' [from [Hallquist et

[2022-06-01 06:38] lzehl opened #232 "new technique: convolution"
"In mathematics (in particular, functional analysis), convolution is a mathematical operation on two functions (f and g) that produces a third function ( ) that expresses how the shape of one is modified by the other. The term convolution refers to both the result function and to the process of computing it. [[wikipedia](https://en.wikipedia.org/wiki/Convolution)]"

[2022-06-01 07:07] lzehl opened #234 "new technique: first-order autoregressive model"
@skoehnen could you have a look at a good definition?

[2022-06-01 07:09] lzehl opened #235 "new technique: maximum likelihood estimation"
"In statistics, maximum likelihood estimation is a method of estimating the parameters of an assumed probability distribution, given some observed data. This is achieved by maximizing a likelihood function so that, under the assumed statistical model, the observed data is most probable. [[wikipedia](https://en.wikipedia.org/wiki/Maximum_likelihood_estimation)]"

[2022-06-01 07:15] lzehl opened #236 "new technique: mass-univariate general linear model"
@skoehnen could you provide a nice definition for this one?

[2022-06-01 07:20] lzehl opened #237 "new techniques: filtering"
filtering
"Filtering is a class of signal processing, the defining feature of filters being the complete or partial suppression of some aspect of the signal. [[wikipedia](https://en.wikipedia.org/wiki/Filter_(signal_processing))"

also:
high-pass filtering
low-pass filtering
band-pass filtering

[2022-06-01 08:22] apdavison commented on #237
Maybe call this "signal filtering" to avoid confusion with physical/chemical filtering (e.g. removing impurities from a substance, removing certain frequencies or polarizations from a light beam)?

[2022-06-01 09:45] lzehl commented on #237
@apdavison yes. good point

[2022-06-07 16:10] tgbugs commented on #237
We have `signal filtering technique` http://uri.interlex.org/base/ilx_0739623 and `signal processing technique` http://uri.interlex.org/base/ilx_0739633 .

[2022-06-15 14:30] szafarnia opened #244 "new technique: Hierarchical indexing"
Dear all,

Could you please add "Hierarchical indexing" as a new technique to KG?

Many thanks in advance.

Best,
Sara

[2022-06-23 10:55] AnnaHilverling commented on #223
Hi @UlrikeS91 ,

I received feedback from the data provider concerning the registration of areas.

The data provider would like to have registered the following terms:

- Hippocampus
- medial frontal lobe
- auditory cortex (http://purl.obolibrary.org/obo/UBERON_0001393)
- medial temporal lobe
- medial parietal lobe

Since Hippocampus, MFL, MTL and MPL cannot be found in the Uberon parcellation, ca

[2022-07-06 15:17] AnnaHilverling commented on #223
Hi @UlrikeS91 ,

Just as a heads-up. I am linking @szafarnia here as she will take over the curation of the associated dataset.

Best, Anna

[2022-07-12 13:04] lzehl opened #245 "subjectAttribute: counter attribute to "hasImplanted/InsertedDevice" ?"
@tgbugs : what do you think? is this "control" or should there be an additional attribute (as for e.g. "treated" vs "untreated")

[2022-07-12 13:04] lzehl commented on #245
additionally: what about attached devices? (e.g. EEG caps)

[2022-07-12 13:38] lzehl opened #246 "potential technique: fluorodeoxyglucose-positron emission tomography"
FDG-PET

@tgbugs should we capture the different PET types?

[2022-07-12 16:16] tgbugs commented on #246
Yes we should. Not entirely sure how to model this. It seems that it is probably similar to how we model RNA-seq where there is a part of the technique that involves putting someone in the scanner. Only the contrast agent changes. I think we add contrast agent administration technique and then if we wanted to create a composite technique it becomes PET plus a parametrized contrast agent administra

[2022-07-12 16:35] tgbugs commented on #245
We called this experimental group, but the issue here is whether this is before and after some procedure, how do we deal with such internal control cases where we need to be able to distinguish the states based on critical variables.

Another case would be simulated and unstimulated or with stimulus presentation and without. This can get into super detailed task structure. Unimplanted vs implanted

[2022-07-12 16:55] lzehl commented on #245
https://github.com/HumanBrainProject/openMINDS_controlledTerms/tree/v1/instances/subjectAttribute

[2022-07-12 17:02] lzehl commented on #245
anaesthetized vs awake
asleep vs awake
comatose vs ?? ALERT
deceased vs ALIVE (missing)
freelyMoving vs restrained
freelyMoving vs headRestrained
knockin vs control
knockout vs control
treated vs untreated
drugged vs untreated (merge drugged into treated ?)
hasImplantedDevice vs PREOPERATION | POSTOPERATION
hasInsertedDevice vs PREOPERATION | POSTOPERATION
hasAttachedDevice (missing) vs ??

[2022-07-12 17:05] lzehl commented on #245
PLACEBO (missing) vs treated

[2022-07-12 17:16] lzehl commented on #245
trained vs untrained

[2022-07-13 13:02] lzehl opened #248 "new technique: dynamic coherence analysis"
@tgbugs @UlrikeS91

[2022-07-13 13:08] lzehl opened #249 "new technique: diffusion spectrum imaging"
synonym: diffusion spectrum magnetic resonance imaging, DSI
@tgbugs @UlrikeS91

[2022-07-14 14:36] lzehl commented on #248
@skoehnen ?

[2022-07-19 13:27] szafarnia opened #252 "new technique: time-of-flight (TOF) magnetic resonance angiography"
Dear all,

Would it be possible to add “time-of-flight (TOF) magnetic resonance angiography” as new technique?

Best,
Sara

[2022-07-20 07:56] lzehl commented on #252
@szafarnia thank you for raising the issue. Yes. I will add TOF MRA as new technique term

[2022-07-20 08:20] UlrikeS91 commented on #180
This seems to be resolve. I'll close it. If that was wrong, please reopen it.

[2022-07-20 08:20] #180 closed, assigned to nobody

[2022-07-20 08:23] UlrikeS91 commented on #212
What's the status here?

[2022-07-20 08:37] UlrikeS91 commented on #223
Hi @szafarnia,

Sorry about the very late response. This must have slipped through the cracks...

As Anna summarized correctly, MFL, MTL and MPL don't exist in the UBERON terminology, so these need to be added as custom anatomical entities instead.

Both hippocampus and auditory cortex don't exist as instances in our openMINDS terminology yet. So, I will update the draft #266 and we get them integ

[2022-07-20 08:39] lzehl commented on #212
@UlrikeS91 was not done yet. The decision requires a potential clean up of other pulse sequences that were mixed with the acquisition technique (e.g., T1magneticResonanceImaging).

TODO:
1) registration of "echo planar pulse sequence"
2) registration of "T1 pulse sequence"
3) registration of "T2 pulse sequence"
4) removal of "T1-weighted magnetic resonance imaging", cleanup in EBRAINS (MRI + T1 pu

[2022-07-20 08:47] UlrikeS91 commented on #223
PS: I'm closing the issue now, since the PR is ready and will be merged (maybe with some minor adjustments, but eventually).

[2022-07-20 08:47] #223 closed, assigned to nobody

[2022-07-20 08:51] lzehl commented on #246
TODO:
- add technique "contrast agent administration"

[2022-07-20 08:53] UlrikeS91 commented on #245
This is missing some clues for me to participate in the discussion. We can either discuss this during one of our meetings or somebody needs to fill in some gaps here😉

[2022-07-20 08:53] #252 closed, assigned to nobody

[2022-07-20 08:59] UlrikeS91 commented on #223
Quick update: The UBERON term for "hippocampus" is actually called "Ammon's horn", so please use that one ☺️

[2022-07-20 09:00] szafarnia commented on #223
Thanks a lot for info.

[2022-07-20 09:00] #246 closed, assigned to nobody

[2022-07-20 09:03] lzehl commented on #245
@UlrikeS91 discussion is done. We just need to add some of the missing terms (that list probably will grow, but these were the ones we identified for now):
"alive"
"alert"
"preoperative"
"postoperative"
"placebo"

[2022-07-21 14:01] #245 closed, assigned to nobody

[2022-08-16 08:49] UlrikeS91 opened #257 "Need for naming convention of cell type terms - urgent"
There are three open issues for cell types: #149, #150 and #240.

We have been avoiding the discussion around how to enter cell types to the controlledTerms for too long now. @lzehl generally would like to avoid the use of brain regions in the cell type names, which I understand, but there are still issues with this:

1. If users studied different cell types in different brain regions, the combina

[2022-08-16 09:39] UlrikeS91 opened #258 "New terminology - biological process"
This came up in issue #151 and it is easier to follow-up on it when it has it's own issue.

I can make a first PR for the schema and some instances. I've looked through the term suggestions that we currently have in the Knowledge Graph and found quite some a few terms that may fall under this terminology. Some are straight-forward (as far as I can tell) and should be added, but others require some

[2022-08-16 09:40] UlrikeS91 commented on #151
If I interpret this correctly, the only open issue here is the biological process, right? I made an issue for this specifically and close this issue for now. @lzehl feel free to reopen it, if my interpretation was wrong 🙂

[2022-08-16 09:40] #151 closed, assigned to UlrikeS91

[2022-08-18 07:18] szafarnia opened #260 "new technique: Baseline measures"
Dear all,

can „**Baseline measures**” be added as a technique to the KG? Please find below corresponding description that I received from a data provider.

Best,
Sara

**Description:**
From “Määttä, J. I., van den Bosch, R., Papadopetraki, D., Hofmans, L., Lambregts, B., Westbrook, A., Verkes, R.-J., & Cools, R. Predicting effects of methylphenidate and sulpiride on brain and cognition: A pharmac

[2022-08-19 10:24] UlrikeS91 commented on #202
I've made a PR for the multilinear regression technique. The rest does not need to be handled here. PET-derived binding potential can be added as term suggestion for now.

@lzehl, I do not now what the status for your draft PR #203 is, but to me it looks like this should be move somewhere else (e.g. MeasuredQuantity). The 3 terms form the PR do not seem suitable techniques.

[2022-08-19 10:45] UlrikeS91 commented on #215
At least one of the PRs seems to be ready for another round of review. @lzehl, could you please have a look?

[2022-08-19 10:46] UlrikeS91 commented on #216
@lzehl, @skoehnen What is the status? Is this something we should discuss during the ontology meeting with @tgbugs?

[2022-08-19 10:47] UlrikeS91 commented on #224
@lzehl What is the status here? Any techniques that need to be added or did you reach a conclusion with @szafarnia offline?

[2022-08-19 11:29] UlrikeS91 commented on #234
Judging only be the name, this does not some like a technique to me. Not sure what to do with this. @skoehnen, @lzehl what should we do with this one? Discuss with @tgbugs?

[2022-08-19 11:36] UlrikeS91 commented on #236
Not sure what to do with this. @skoehnen, @lzehl what should we do with this one? Discuss with @tgbugs?

[2022-08-19 11:46] UlrikeS91 commented on #244
Hi @szafarnia, This unfortunately fell through the cracks. Could you elaborate on the technique? I found this when searching for the term: "Hierarchical indexing is a method of creating structured group relationships in data."

@tgbugs and @lzehl What do you think? Should this be discussed or can we add this as a technique?

[2022-08-19 11:50] UlrikeS91 commented on #260
@lzehl and @tgbugs I find this tricky to decide. Could one of you have a look at this?

[2022-08-19 12:17] szafarnia commented on #244
Hi @UlrikeS91,
I found this in a data description under the method section (please see below copy of the information that I found in the data descriptor), however, I am not sure if it can be counted as a technique!

[2022-08-20 11:37] ehennestad commented on #257
I would lean towards agreeing with @lzehl that it's better to avoid the brain region when naming cell types.

The way I see it a cell type is just a way to classify cells. The key to classification of a cell has traditionally been functional or morphological, and later molecular/genetic with ever increasing number of potential cell types. But a neuron is a neuron no matter if it lives in the brain

[2022-08-20 17:14] ehennestad commented on #257
This is a very good reference for the topic of classification of neurons: https://www.nature.com/articles/nrn.2017.85.pdf
Especially, the points made that classifications might have to be based on multiple criteria and that a hierarchical classification system has several advantages. See figure 6 for a nice overview

[2022-08-20 18:47] ehennestad commented on #151
The earlier discussion in this issue refers to many of these concepts as biological phenomenon, whereas the conclusion is to make a new schema called `BiologicalProcess`. I think `BiologicalPhenomenon` is much better because none of the concepts listed in the first post fit well with the definition of a process. A process is generally understood as " a series of actions or operations conducing to

[2022-08-20 18:54] ehennestad commented on #258
I added a comment in https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/151 and my point is that it would be better to call many of these concepts `BiologicalPhenomenon` that `BiologicalProcess`, especially those under the list "should be added". Out of the far fetched terms, rapid-eye movement sleep, slow wave sleep, eye movement are definitely observable phenomenons.

[2022-08-22 08:14] lzehl commented on #244
@szafarnia & @UlrikeS91  & @tgbugs in principle this is a cluster validation technique, correct? And @szafarnia it is not the only one used in this study.

I think it makes more sense to introduce a general technique (e.g., "cluster validation analysis" or simply "cluster validation") and then register all criterias they looked at as keywords ("hierarchy index", "percentage of deviants", "inter/in

[2022-08-22 09:01] lzehl commented on #234
@UlrikeS91 all models that are used frequently in analysis are currently registered under techniques. On the long run we need to revise this decision probably (as we do for all analysis methods; they should maybe get their own terminology). But for now I would simplify our efforts and put them under techniques.

[2022-08-22 09:55] ehennestad commented on #151
On second thought, IPSP/EPSP/IPSC/EPSC are similar to action potentials, so they should not be considered measured quantities...

[2022-08-22 10:10] lzehl commented on #151
@ehennestad you are fully right. We agreed in 'measured quantities' we only keep single valued elements (e.g., membrane potential). Everything more complex should be registered as BiologicalProcess. We can also name this terminology BiologicalPhenomenon @UlrikeS91 & @tgbugs any objections?

[2022-08-22 10:12] szafarnia commented on #244
@lzehl Thank you for your feedback and suggestion.

[2022-08-22 10:27] lzehl commented on #260
@tgbugs @UlrikeS91 I'm reviewing this together with the actual study. @szafarnia  I'll provide some feedback once I have a clearer picture of what was done in the study.

[2022-08-22 10:29] lzehl commented on #236
@mdenker how would you best define this analysis technique? I'm struggling a bit to create a clear one sentence definition for these kind of analysis techniques in general. It would be great if you could support us?

[2022-08-22 10:41] lzehl commented on #236
To start a discussion:

Definition for GLM (from wikipedia):
A 'general linear model' is a generalization of multiple linear regressions to the case of more than one dependent variable.

Extending to mass-univariate GLM:
A 'mass-univariate general linear model' is a general linear model that is performed individually on a large number of elements of the measured data (e.g., voxels of images).

[2022-08-22 12:36] skoehnen commented on #236
I was not familiar with this model before, but it would say the Definition that @lzehl  posted sound good:

A 'general linear model' is a generalization of multiple linear regressions to the case of more than one dependent variable.

A 'mass-univariate general linear model' is a general linear model that is performed individually on a large number of elements of the measured data (e.g., voxels of

[2022-08-22 12:37] skoehnen commented on #236
Does not look like it

[2022-08-22 12:38] lzehl commented on #224
I did not yet reviewed the respective dataset. I'll get back to it as soon as I can.

[2022-08-22 12:41] lzehl commented on #216
@skoehnen what would you register specific for the above mentioned paper?

[2022-08-22 12:47] lzehl commented on #236
@skoehnen I would argue that SPM is used specifically in the imaging community while the applied mathematical technique is actually not imaging specific, correct? In principle the mass-univariate GLM can be used on all kinds of data, not only imaging data.

[2022-08-22 12:48] lzehl commented on #236
@skoehnen & @tgbugs question is then: should we stick to a modality specific name / variant of a mathematical / analysis technique or not / or both ?

[2022-08-22 12:48] lzehl commented on #236
@mdenker what is your insight here?

[2022-08-22 13:40] UlrikeS91 commented on #151
I like BiologicalPhenomenon better. Based on the terms that I found for the terminology, it would make more sense.

[2022-08-22 13:42] UlrikeS91 commented on #258
Unless, @tgbugs strongly objects, the terminology will be called `BiologicalPhenomenon` instead of `BiologicalProcess`. I found it better fitting and @lzehl did not seem to object.

[2022-08-22 13:49] skoehnen commented on #236
I would say the name "mass-univariate general linear model" is the more "correct" name and should be used.
SPM would be a specific application and should then be covered with a synonym.

[2022-08-23 07:00] mdenker commented on #236
I would tend to agree that mass Univariate GL M is the more generic name, and also it is more telling in terms of the underlying idea. It's also the name I saw pop up when doing some searching. I would go with that. The definition seems good to me, a faik this is indeed used to analyze images pixel by pixel (or voxel) using a G L M, but really I an no expert here,

[2022-08-23 07:31] lzehl commented on #237
note: on the long run we will need to add more specific filtering and signal processing techniques

[2022-08-23 07:31] #237 closed, assigned to nobody

[2022-08-23 07:35] lzehl commented on #235
done with #266 @UlrikeS91 thanks :smile:

[2022-08-23 07:35] #235 closed, assigned to nobody

[2022-08-23 08:09] lzehl commented on #236
@skoehnen and @mdenker thank you so much for your insight on this term. We will prepare then a respective PR for this (TODO: add definition to GLM term, add mass-univariate GLM as new term).

[2022-08-23 09:52] lzehl commented on #258
nope I don't mind using BiologicalPhenomenon :smile:

[2022-08-23 09:53] #231 closed, assigned to nobody

[2022-08-25 08:15] szafarnia opened #268 "New Julich-Brain Atlas Parcellation"
Dear all,

Could you please add following parcellation of Julich-Brain Atlas to KG?
Area MFG2 (MFG): cerebral cortex/frontal lobe/fronto-marginal sulcus (middle frontal gyrus area 1)
Area MFG1 (MFG): cerebral cortex/frontal lobe/middle frontal gyrus (middle frontal gyrus area 1)
Area SFS1 (SFS): cerebral cortex/frontal lobe/superior frontal sulcus (superior frontal sulcus area 1)
Area SFS2 (SFS):

[2022-08-25 09:02] lzehl commented on #268
@szafarnia thank you for this issue, but this issue should go to openMINDS_SANDS (I will move it now). For the future, could you register issues for atlas brain regions in SANDS and in the EBRAINS KG make suggestions for brain regions of atlases via "custom anatomical entity" instead of "term suggestion"?

[2022-08-29 14:13] ehennestad commented on #257
This is pretty advanced, but I post it here for reference:
https://www.biorxiv.org/content/10.1101/2021.10.10.463703v2.full.pdf

[2022-08-30 07:04] szafarnia opened #271 "new technique: ELISA (Enzyme-linked Immunosorbent Assay)"
Dear all,

Could you please add „ELISA (Enzyme-linked Immunosorbent Assay)” as a technique to the KG?

Many thanks in advance.

Best,
Sara

[2022-08-30 15:38] lzehl commented on #271
@tgbugs and @UlrikeS91 what is our position on assays? do we register them (for now) under techniques if they are well established?

[2022-08-30 15:48] lzehl opened #273 "new technique: blood sample extraction ???"
@tgbugs and @UlrikeS91 I need your feedback here ;)

[2022-08-30 15:52] lzehl opened #274 "new techniques: diagnose checklists ???"
examples: DSM-V criteria, Clinical Global Impression (CGI-S) Autism Treatment Evaluation Checklist (ATEC), the Autism Diagnostic Interview-Revised (ADI-R), the Autism Behavior Checklist (ABC) and the Childhood Autism Rating Scale (CARS)

I think we already have some checklists under techniques...

@tgbugs @UlrikeS91 what do you think???

[2022-08-30 15:55] lzehl opened #275 "new techniques: statistical tests"
Shapiro-Wilk normality test
Independent-Samples Mann-Whitney U Test
Spearman’s correlation test
Grubbs' test
etc.

@tgbugs & @UlrikeS91 what do you think?

@apdavison or should these go into the new DifferenceMeasure?

[2022-08-30 16:19] apdavison commented on #275
@lzehl no, DifferenceMeasure represents the output from (a subset of) statistical tests

[2022-08-31 08:22] lzehl commented on #275
@apdavison thank you for the clarification. I'll create a PR then.

[2022-08-31 12:42] lzehl opened #276 "new experimental approach: pharmacology"
@tgbugs and @UlrikeS91 should we add this to exp approaches?

[2022-08-31 12:59] UlrikeS91 commented on #271
ELISA is definitely well established. I think it should be fine to add this one as a technique even though it may not fall into this category in the classical sense since it is more like a protocol.

[2022-08-31 13:03] UlrikeS91 commented on #273
The term in itself is weird, because I would call this "blood sample taking" or "blood sampling". Extraction in this context is a bit weird. I would like to have such extraction techniques as controlled terms - also e.g. "brain extraction". We could generalize it to "specimen extraction" and/or "specimen sampling".

[2022-08-31 13:05] UlrikeS91 commented on #274
This feels more like (behavioural) protocols to me. The technique would be something like "criteria testing" (please do not take that term to seriously 😆).

[2022-08-31 13:11] UlrikeS91 commented on #275
I think we already added some statistical tests, so I don't see any reason to exclude these now. We may want to discuss if we want to split them out at some point but for now, I would suggest to just add them.

[2022-08-31 13:17] UlrikeS91 commented on #276
I support this suggestion.

[2022-08-31 13:22] lzehl commented on #274
@UlrikeS91 thanks yes that's were we can put them best.

[2022-08-31 13:22] #274 closed, assigned to nobody

[2022-09-01 07:53] lzehl commented on #273
@UlrikeS91 I researched a bit and although blood is an organ and we could run its extraction under "organ extraction" I think it makes sense here to introduce a specific term. Apparently it is typically called "blood sampling". I'll make a respective PR if you agree

[2022-09-01 08:29] lzehl opened #278 "new UBERONparcellations: blood, arterial blood, venous blood"
The following terms are currently not registered in our UBERONparcellations terminology:

blood
http://purl.obolibrary.org/obo/UBERON_0000178

arterial blood
http://purl.obolibrary.org/obo/UBERON_0013755

venous blood
http://purl.obolibrary.org/obo/UBERON_0013756

@ehennestad it would be great if you could do the respective PR for those terms.
Here a summary of where the terms (as JSONLDs) need to

[2022-09-01 09:46] lzehl opened #281 "new MolecularEntities: BDNF and IGF-1"
brain-derived neurotrophic factor (BDNF)
http://uri.interlex.org/base/ilx_0101140
https://knowledge-space.org/wiki/NLXMOL:20090401#bdnf

insulin-like growth factor 1 (IGF-1)
http://uri.interlex.org/base/ilx_0105523
https://knowledge-space.org/wiki/PR:000009182#insulin-like-growth-factor-i

[2022-09-02 09:02] lzehl opened #283 "new Technique: diagnostic assessment"
for all the diagnostic checklists and other medical assessments

@UlrikeS91 @tgbugs what do you think?

[2022-09-02 10:18] #281 closed, assigned to nobody

[2022-09-02 10:18] #273 closed, assigned to nobody

[2022-09-02 10:18] #271 closed, assigned to nobody

[2022-09-02 12:52] UlrikeS91 commented on #283
Sounds good! I support this.

[2022-09-02 14:02] #278 closed, assigned to nobody

[2022-09-02 14:02] #283 closed, assigned to nobody

[2022-09-02 14:03] #275 closed, assigned to nobody

[2022-09-02 15:12] ehennestad opened #288 "Inconsistency in definition and description property of UBERONParcellation instances"
There appear to be some inconsistencies with regards to what goes into the definition and the description properties of UBERONParcellation instances.  As per issue https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/278#issue-1358459130:

the definition property should be according to the formula ‘TERM’ is a XXX of YYY. It is part of the ZZZ.

**Examples where this formula goes i

[2022-09-05 08:27] UlrikeS91 commented on #288
@ehennestad, thanks for raising the issue! I assume that this is a historical issue. If I remember correctly, we only came up with the naming convention after some first instances had been added the other way around (or without any definition/description).

You are very welcome to do a clean-up and switch the definitions and descriptions 🙂

[2022-09-05 10:19] szafarnia opened #289 "new technique: magnetoencephalography"
Dear all,

Can “magnetoencephalography” be added as new technique to KG?

Best,
Sara

[2022-09-05 10:30] lzehl commented on #289
@szafarnia of course. I'm surprised we don't have that in yet.

[2022-09-05 16:30] lzehl commented on #212
Summary of what to define in #262 (@UlrikeS91 for you as support)

term name: **"T1 pulse sequence"**
definition: "In magnetic resonance imaging, a 'T1 pulse sequence' is a contrasting technique that allows the magnetization of the specimen or object to recover (spin-lattice relaxation) before measuring the magnetic resonance signal by changing the repetition time. [adapted from [wikipedia](https:

[2022-09-06 07:45] #289 closed, assigned to nobody

[2022-09-06 07:46] #227 closed, assigned to lzehl

[2022-09-06 07:58] UlrikeS91 commented on #212
- removing "technique" is fine.
- definitions sound good but your hyperlink for T1 and T2 point to the Wikipedia entry for "receptive field"; I couldn't find one specifically for those sequences just the overarching one for MRI sequences (https://en.wikipedia.org/wiki/MRI_sequence) which has some descriptions but your definition does not seem to be adapted from that entry, so remove it?
- I'm unsu

[2022-09-06 07:59] #202 closed, assigned to nobody

[2022-09-06 08:04] lzehl commented on #212
@UlrikeS91 its the overarching one you found... sorry for the copy/paste error
the synonyms are a collection of what is typically used in the community (across different sources); the decision to establish T1 and T2 (etc.) really as pulse sequences is often shortened in the community to "imaging" variant

[2022-09-06 08:42] lzehl commented on #249
@tgbugs and @UlrikeS91 if I understand correctly this is really a different imaging technique and not a pulse sequence change: https://cds.ismrm.org/ismrm-2000/PDF1/0082.pdf (here still called "Fourier diffusion MRI")
https://doi.org/10.1016/j.neuroimage.2008.03.036

Concrete suggestion:

technique term: **"diffusion spectrum magnetic resonance imaging"**
**definition:** "'Diffusion spectrum magne

[2022-09-06 09:41] #276 closed, assigned to nobody

[2022-09-06 10:39] UlrikeS91 commented on #249
Sorry, I must have overseen this! I don't know enough to tell whether or not this is "just" a sequence one. Let add it for now as a separate one. If @tgbugs disagrees, we can still fix it.

[2022-09-06 10:42] UlrikeS91 commented on #212
Ok, thanks for the clarifications! I'll update my draft and make it a proper PR 🙂

[2022-09-06 11:00] #212 closed, assigned to nobody

[2022-09-06 14:37] UlrikeS91 opened #292 "UBERON terminology update and new terminologies"
During an offline meeting, @lzehl and I have discussed some of the latest PRs that we merged. Specifically: issue #278 and PRs #280 & #286.

Quick summary of the issue:
- we deliberately added "blood" as an organ as a workaround, which is not ideal because there are debates on whether or not blood would count as such
- we added "blood", "arterial blood" and "venous blood" as UBERON parcellations w

[2022-09-06 16:12] lzehl commented on #292
@UlrikeS91 thanks for preparing this issue. I quickly went over your summary and it looks good.

As a note for whoever is preparing this: please do not make one big PR but rather a couple of smaller PRs (e.g. one PR to just remove "brain" from UBERONParcellation, one PR to UBERONBodySubstance terminology with an intitial set of substances (e.g. blood stuff) and removing those term from the UBERONP

[2022-09-07 19:50] ehennestad commented on #292
I can get into this on friday, especially the controlled terms. I do not know what is needed in terms of cleaning up the KG, but interested in getting familiar with the process

[2022-09-08 11:34] szafarnia opened #294 "new technique: slice timing correction (STC)"
Dear all,

can "slice timing correction (STC)" be added as new technique?
Here short description that I found: slice timing correction (STC) is the preprocessing step applied to correct for these slice-dependent delays, achieved by shifting the time series of each slice to temporally align all slices to a reference time-point.

Best,
Sara

[2022-09-08 11:36] szafarnia opened #295 "new technique: temporal filtering"
Dear all,

Can "temporal filtering " be added as new technique?
Here short description that I found: Temporal filtering aims to remove or attenuate frequencies within the raw signal, that are not of interest. This can substantially improve the SNR. The tricky thing is to decide which frequencies are of interest and which are noise.

Best,
Sara

[2022-09-08 11:38] lzehl commented on #294
@szafarnia thanks for raising the issue and making the suggestion. We can integrate this term.

[2022-09-08 12:01] lzehl commented on #295
@szafarnia please use at the moment "signal filtering technique"

[2022-09-09 07:06] UlrikeS91 commented on #292
Thank you! The openMINDS restructuring has to happen before the clean-up in the KG anyway. I can give you an intro to what needs to be done there once you complete the other stuff 🙂

[2022-09-09 07:11] #294 closed, assigned to nobody

[2022-09-09 07:54] archgogo opened #297 "New 'celltype' suggestions"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/archanag/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<lin

[2022-09-09 07:57] lzehl commented on #297
@archgogo thank you for these suggestions. @UlrikeS91 , @tgbugs this issue should be reviewed in respect to the discussion in #149 and #257

[2022-09-09 08:04] archgogo opened #298 "New 'technique' suggestions"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/archanag/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<lin

[2022-09-09 08:07] archgogo opened #299 "New 'UBERONParcellation' suggestions"
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/archanag/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<lin

[2022-09-09 08:09] archgogo opened #300 "New 'molecularEntity' suggestions"
We forward these term suggestions that EBRAINS received from data providers:
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href=

[2022-09-09 08:10] lzehl commented on #298
@archgogo thank you for bringing this up. Could we leave out the linkages to the EBRAINS KG Editor though? We can keep track of them elsewhere since this is a public repository and the linkages are not accessible for any openMINDS partner/contributor that is working outside of the EBRAINS curation team

[2022-09-09 08:11] archgogo opened #301 "New 'subcellularEntity' suggestions"
We forward these term suggestions that EBRAINS received from data providers:
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href=

[2022-09-12 08:34] ehennestad commented on #292
For BodySubstance, is it better to call it OrganismSubstance, to better align with the Uberon term:
https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000463

[2022-09-12 09:22] ehennestad commented on #292
Consider whether BodySystem is the same as AnatomicalSystem:
https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000467&lang=en&viewMode=PreferredRoots&siblings=false

[2022-09-12 11:04] ehennestad commented on #292
UberonParcellations seem to be predominantly parcellations of brain regions and structures of the brain. Would it make sense to make UBERONParcellations a special schema which is brain specific as opposed to substructures of organs.

Brain anatomy is a field in itself, and it feels a bit wrong to throw a few terms like  "hair" or "epidermis" into a pool of 800+ brain related terms

[2022-09-12 11:30] lzehl commented on #292
@ehennestad I think we originally had in mind for BodySystem to hold all system-like structures of the body including also functional systems not only the anatomical ones (e.g., limbic system). So I would stick to the more generic term. Since it is sometimes a bit difficult to differentiate between or separate anatomical and functional systems I would also not like to split it up.

[2022-09-12 11:35] lzehl commented on #292
Generally I agree with you about brain anatomy being it's own field. Your suggestion would have though one concrete consequece: if you do this for the brain you need to do this for ALL organs. It could match nicely with the organ terminologies (meaning for each organ terminology there is one parcellation terminology). Please check if that would be feasible. @UlrikeS91 please also comment on this

[2022-09-12 12:28] UlrikeS91 commented on #292
We had the same issue during our offline discussion and I agree that it feels weird to have all of it mixed, but I'm not sure if we should start terminologies for each organ parcellation. I can imagine that there are cases where the cut isn't 100% clear and it could result in confusion and chaos. This is also the argument for why we only added "molecular entity" and no subdivisions (yet).
I would

[2022-09-14 13:56] UlrikeS91 commented on #298
My feedback to the list:
term | add as technique? | reason
-- | -- | --
Cryoprotection | yes |
tissue sectioning | yes |
counterstaining | maybe | This would need to be discussed if and how we would like to add this.
manual correction | yes | I think this is a term we got from @tgbugs some time back in relation to preprocessing of images to make the images look nicer
feature extraction | yes |
slo

[2022-09-14 14:16] UlrikeS91 commented on #299
My feedback to the list:

term | add as UBERONParcellation? | UBERON ID | reason |
-- | -- | -- | --
basal ganglia | yes | http://purl.obolibrary.org/obo/UBERON_0002420 |
stratum moleculare | differently | http://purl.obolibrary.org/obo/UBERON_0007640 | "hippocampus stratum lacunosum moleculare" exists, I think this is the same
stratum cellulare | no? | | can't find it in UBERON and not sure what

[2022-09-14 14:23] UlrikeS91 commented on #300
My feedback to the list:

name | add as molecularEntity? | reason
-- | -- | --
panAMPA receptor | yes | but hear with @lzehl about what exact term to add; we had a discussion about the names in #259
noradrenergic system | no | add under the new terminology "BodySystem", see #292; FYI @ehennestad
glutamate system | no | see above
serotonergic system | no | see above
adenosine receptor system | no |

[2022-09-14 14:25] UlrikeS91 commented on #301
Yes to both terms, you can prepare a pull request for those. I can help you offline with this 🙂

[2022-09-19 07:15] lzehl commented on #300
@archgogo thank you for sorting through this and making the issue.

I agree with @UlrikeS91 that we should group all neurotransmitter systems into body systems.

mGlu5 receptor already exists (https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/v1/instances/molecularEntity/metabotropicGlutamateReceptor5.jsonld)

For the panAMPA receptor I need to do more research, but as far as I c

[2022-09-19 12:28] #301 closed, assigned to nobody

[2022-09-20 14:05] archgogo opened #309 "New technique suggestion: Spectral Segmentation"
Hi,

Could you add "Spectral Segmentation" as a technique?
Here is the link with more info
https://github.com/Leveltlab/SpectralSegmentation

[2022-09-20 16:30] UlrikeS91 opened #310 "New experimental approach: biophysics"
@tgbugs noticed this is missing in a SPARC dataset context. We should also add it here.

[2022-09-22 09:46] szafarnia commented on #295
@lzehl Could „**temporal filtering**“ also be added as new technique? The data provider of the dataset “[Investigating Temporal Predictions Using Virtual Environments at 3T fMRI (v1)](mailto:https://search.kg.ebrains.eu/instances/b884fb7e-c222-4c29-aa5d-f89f014f7d44?group=curated)” is not happy with the technique “signal filtering technique”. She prefers to add „temporal filtering“ as technique to

[2022-09-22 11:08] spieschnik opened #312 "New technique suggestion: movement tracking"
Hi,

Could you add "movement tracking" as a technique?

[2022-09-23 08:01] UlrikeS91 commented on #309
Thanks for raising the issue. @lzehl what do you think? We have "anatomical segmentation technique". To me it sounds correct to add "spectral segmentation technique" as well. What do you think?

[2022-09-23 08:09] lzehl commented on #295
@szafarnia please add this for now as keyword. I will bring this up as a discussion again

[2022-09-23 10:07] lzehl commented on #309
@UlrikeS91 theoretically this is can be considered a subtype of an anatomical segmentation technique (since they use it to define masks for neuron cell bodies). Nonetheless it could be used for non-anatomical segmentation problems as well therefore we should discuss it as a separate segmentation technique term.

For registration I would probably call this "cross-spectral power-based image segmenta

[2022-09-23 10:29] lzehl commented on #295
@tgbugs @ehennestad please have a look at this

[2022-09-26 09:34] szafarnia opened #315 "Techniques for TVB simulations"
New techniques for TVB simulations:
- forward modelling
- whole brain neural mass model
- epileptor model
-
Could we assess if we have all techniques registered that are typically used in a TVB simulation?

[2022-09-26 10:10] lzehl commented on #315
@MichaelSchirner it would be good to discuss this together with you, plus anyone you else see fit.

I would like to generally document all techniques you want to mention on TVB simulation datasets. This will help the EBRAINS curation team to quicker go through the curation process of these data. There will be some techniques we did not yet register in openMINDS.

If you like, we can also schedule

[2022-10-04 12:42] szafarnia opened #316 "new technique: abstract image visual stimulation"
Hi,
Could you please add "abstract image visual stimulation" as a technique?

[2022-10-04 12:42] szafarnia opened #317 "new technique: random dot motion stimulation"
Hi,
Could you please add "random dot motion stimulation" as a technique?

[2022-10-04 13:00] lzehl commented on #316
Yes we can add this for now. This would be the counter part to "natural image visual stimulation".

Definition suggestion: "In an 'abstract image visual stimulation' a subject is visually stimulated with a static image that does not show a natural scene but displays only reduced (abstract) information and forms (e.g., a red symbol on white background)."
(other suggestions for the definition are hi

[2022-10-04 16:10] lzehl commented on #317
Yes we can add this for now.

Suggested definition: "In a 'random dot motion stimulation' a random dots are simulated in an image and re-positioned at a new random location with each video frame (Newsome & Paré, 1988)."

[2022-10-04 16:19] tgbugs commented on #317
Maybe add synonym `random dot visual stimulation` and `random dot visual stimulation technique`?

[2022-10-04 16:31] lzehl commented on #312
@UlrikeS91 we can make "motion tracking" as a synonym to "movement tracking"

[2022-10-04 16:35] #310 closed, assigned to nobody

[2022-10-04 16:53] lzehl commented on #309
@tgbugs and @ehennestad suggest to add also the super class for this technique which would be "auto-segmentation"

[2022-10-04 16:55] tgbugs commented on #309
With auto-segmentation this becomes a subclass of auto-segmentation that uses a power spectrum over the time series for individual pixels or voxels in the image to generate the segmentation.

[2022-10-04 16:57] lzehl commented on #309
so we suggest to register as well "spectral power auto-segmentation"

[2022-10-04 17:08] tgbugs commented on #295
I think you could make this a subclass of signal processing because temporal filtering is a distinct technique since it seems to be a specific algorithm that is distinct.

[2022-10-07 09:00] spieschnik opened #318 "New 'Uberonparcellation' suggestions"
Hi,

Can we add entorhinal cortex layer 5 (http://purl.obolibrary.org/obo/UBERON_0022325) and entorhinal cortex layer 6 (http://purl.obolibrary.org/obo/UBERON_0022329)?

[2022-10-11 08:28] UlrikeS91 commented on #318
Hi @spieschnik,

Yes, we can add those - very clear cases. I would actually like you to make the pull request yourself. I can show you how to do it offline 🙂

[2022-10-11 08:52] UlrikeS91 commented on #312
Motion tracking is already a synonym for the term (and the term was also already merged) 🙂

[2022-10-11 08:52] #312 closed, assigned to nobody

[2022-10-13 13:17] #318 closed, assigned to UlrikeS91

[2022-10-19 12:51] lzehl opened #330 "technique request: genome-wide association study (GWA study, or GWAS)"
https://en.wikipedia.org/wiki/Genome-wide_association_study

@tgbugs and @UlrikeS91 I think we can add this as technique. What is your opinion ?

[2022-10-19 13:02] lzehl opened #331 "disease request: atrophy ?"
not sure if this should be categorized as disease, but since we collect under that terminology fuzzy terms (also syndroms) I think it would be the place for now.

https://en.wikipedia.org/wiki/Atrophy

[2022-10-19 13:19] lzehl opened #332 "technique request: gradient echo (GRE) pulse sequence"
not sure if one needs to create t1w gre and t2w gre or if the combination t1w or t2w + gre is sufficient.

@tgbugs and @UlrikeS91 please advise

[2022-10-19 13:26] lzehl opened #333 "technique request: sublaminal complex visual stimulation"
the term came up as "sublaminal complex visual stimuli (faces and bodies)"

@tgbugs how should we register this?

[2022-10-19 13:48] lzehl opened #334 "disease request: add psyciatric disorder"
as a superclass for the various psyciatric disorders

[2022-10-19 13:50] lzehl opened #335 "technique request: principal component analysis"
[principal component analysis](https://en.wikipedia.org/wiki/Principal_component_analysis)

[2022-10-19 16:44] lzehl commented on #317
@szafarnia this term was added and should be also available by now in EBRAINS

[2022-10-19 16:44] #317 closed, assigned to nobody

[2022-10-19 16:45] lzehl commented on #316
@szafarnia this term was added and should be available in EBRAINS by now

[2022-10-19 16:45] #316 closed, assigned to nobody

[2022-10-19 16:58] lzehl commented on #309
@chrisvdt what is your opinion here? could you give us inside as develper of the tool https://github.com/Leveltlab/SpectralSegmentation ?

[2022-10-20 07:04] chrisvdt commented on #309
Interesting discussion.  @tgbugs comment describes the software correctly. Spectral power based auto-segmentation would be a correct term. The technique is only for image segmentation in image sequences (movies), not for static images or other type of data, because it depends on functional changes in pixel fluorescence traces.
hope this clarifies things.

[2022-10-21 11:15] maciej-jedynak opened #340 "Request for DCM registered as a technique"
Metadata for the F-TRACT dataset will need a Dynamic Causal Modeling (DCM) to be registered as a Technique.

References (first, a general one, then in the context of EEG):
Friston, K.J., Harrison, L., Penny, W., 2003. Dynamic causal modelling. Neuroimage 19, 1273-1302.
David O, Kiebel SJ, Harrison LM, Mattout J, Kilner JM, Friston KJ. Dynamic causal modeling ofevoked responses in EEG and MEG. Neur

[2022-10-21 13:14] UlrikeS91 commented on #330
I've merged the PR. I think this is suitable as a technique (at least for now since we are still adding analysis techniques).

[2022-10-21 13:14] #330 closed, assigned to nobody

[2022-10-21 13:17] UlrikeS91 commented on #331
Yes, this is suitable for the disease terminology, and the more specific one even more so. Would we want to add this in some way as a diseaseModel as well? This was at least our logic so far for all terms that were added either for disease or disease model.

[2022-10-21 13:19] #334 closed, assigned to nobody

[2022-10-21 13:19] lzehl commented on #331
@UlrikeS91 if you know a respective disease model directly yes. I assume there would potentially be multiple ones...

[2022-10-21 13:22] UlrikeS91 commented on #332
No idea, I cannot help with this. @tgbugs hopefully has an opinion?

[2022-10-21 13:27] UlrikeS91 commented on #331
Yes, there are for sure multiple specific ones, but I was thinking of an overarching one as well. Something like "cerebralAtrophyModel" (similar to ["strokeModel"](https://github.com/HumanBrainProject/openMINDS_controlledTerms/blob/v1/instances/diseaseModel/strokeModel.jsonld)).

A definition could aslo be close to what the stroke model has. Stroke model definition: "An animal or cell displaying a

[2022-10-21 14:25] lzehl commented on #331
@UlrikeS91 sounds good to me if there are disease models for this.

[2022-11-01 17:10] tgbugs commented on #257
See also the NPO paper https://doi.org/10.1007/s12021-022-09566-7 (bioarxiv https://doi.org/10.1101/2020.09.01.278879).

[2022-11-12 18:02] ehennestad commented on #257
Super cool cell type explorer (Allen Cell Type Knowledge Explorer)
https://knowledge.brain-map.org/celltypes/

This is based on the Brain Data Standards Ontology which is published on bioRxiv:
https://www.biorxiv.org/content/10.1101/2021.10.10.463703v1.full

Seems like this is now such a extensive resource that maybe it makes sense to include this ontology in openMINDS to describe cell types?

Ano

[2022-11-17 20:26] lzehl commented on #257
TODOs (UCSD meeting 2022-11-17)

- [ ] cholinergic interneuron has to be potentially updated (wait for feedback from Interlex)
- [ ] granule cell: change name to granule neuron (move cell to synonym)
- [ ] interneuron: ilx ID -> http://uri.interlex.org/base/ilx_0105664 (use intrinsic neuron as synonym)
- [ ]

[2022-11-17 22:41] lzehl commented on #149
open TODOs are commented in:
https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/257

[2022-11-17 22:41] #149 closed, assigned to nobody

[2022-11-17 23:03] lzehl commented on #297
@archgogo thank you for being patient with this. Please use for cortical neuron, hippocampal neuron, layer 6 neuron please the combination of  'neuron', in addition with the anatomical region/entity you need (e.g., 'neuron' and 'hippocampus)

TODO: add 'zinc releasing neuron'

[2022-11-17 23:05] lzehl commented on #150
this will be solved with https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/257

[2022-11-17 23:05] #150 closed, assigned to nobody

[2022-11-18 21:09] lzehl opened #344 "add RRIDs for preferredOnotologyID for programmingLanguage"
@apdavison @bweyers I discussed with the ontology team and they strongly suggest to add the RRIDs as preferred onotology IDs for programming languages. We might not find all of them yet but we can just register them in the RRID portal if they are missing. I'd like to do that for all the existing ones we have in openMINDS at the moment.

Do you agree?

[2022-11-28 08:22] apdavison commented on #344
yes

[2022-11-28 15:27] lzehl opened #346 "remove GitHub and GitLab instance from FileRepositoryType"
https://github.com/HumanBrainProject/openMINDS_controlledTerms/tree/v1/instances/fileRepositoryType

Remove "GitHub" and "GitLab" instance and add instead "git" (which is the type of the version control system that both web services are using). Add also "git-annex" as instance.